[2017-12-08 09:04] mar-bi opened #1 "Styling Guide"
- Color Schema
- Fonts
- Borders
- Buttons (flat and icon)

[2017-12-09 19:53] spences10 opened #2 "add styled components"
add `styled components`

[2017-12-09 19:54] spences10 opened #3 "add gatsby-plugin-styled-components"
add `gatsby-plugin-styled-components`

[2017-12-09 19:55] spences10 opened #4 "add `gatsby-source-filesystem`"
add `gatsby-source-filesystem`

[2017-12-09 19:55] spences10 opened #5 "add `gatsby-transformer-remark`"
add `gatsby-transformer-remark`

[2017-12-10 07:20] mar-bi opened #6 "add `grid-styled`"
https://github.com/jxnblk/grid-styled

[2017-12-10 07:21] mar-bi opened #7 "add Faker"
https://www.npmjs.com/package/Faker

[2017-12-10 10:00] mar-bi opened #8 "make-main-page"

[2017-12-10 15:53] spences10 commented on #2
Closed with https://github.com/chingu-voyage3/bears-16/commit/8ed7c739ab0d521bf2c019fa7cc1d75db6acabac

[2017-12-10 15:53] #2 closed

[2017-12-11 07:51] mar-bi opened #11 "Assemble the Jobs Page from components"
Let's assemble the **Jobs Page**

![image](https://user-images.githubusercontent.com/25195616/34320030-a4667bdc-e7f8-11e7-90a9-24a433f1b332.png)

[2017-12-11 09:21] spences10 commented on #8
Ok, let's talk components for this, I'm guessing as we're using `styled-components` 💅  we can use a global style theme where we can pull our styled compoenents from ??

So in the `main-page` there's going to be a `h1` will we have the same styled `h1` throughout the app?

I'm guessing, yes?

So, maybe when putting together this page we also consider things like `h1`-`h6` and how they're styled alo

[2017-12-11 09:27] #5 closed

[2017-12-11 09:27] #4 closed

[2017-12-11 09:27] #3 closed

[2017-12-11 09:34] mar-bi commented on #8
You are right. I was thinking to have a global `.css` file for the app. I agree and understand how to use it.
Will you add it?

[2017-12-11 09:40] spences10 commented on #5
I forgot to add the Closes to the pull request @mar-bi

On a PR you can add Closes #issesnumber this will close the corresponding issue 👌

[2017-12-11 09:43] spences10 opened #14 "Add globalStyle"
With reference to https://github.com/chingu-voyage3/bears-16/issues/8#issuecomment-350666566

Add in a `globalStyle.js` module to cater for the app styles

[2017-12-11 10:00] mar-bi commented on #6
Do we really need this plug-in?  :confused:
It seems to me that we can use pure `CSS Grid` without a framework wrapping.
The same like we did with a typography - put it into the `global style`.
Are there other arguments for using it?  :smiley:

[2017-12-11 10:03] #14 closed

[2017-12-11 10:54] mar-bi commented on #8
There is a small issue with **CSS** - an existing CSS file in `\layouts` folder. It takes a precedence if its usage is not commented out.
Basically, this file contains almost a **reset** together with **vendor prefixes**.
We can delete it in future, I think.

[2017-12-11 11:12] spences10 commented on #8
Are you talking about https://github.com/chingu-voyage3/bears-16/issues/14 here @mar-bi?

[2017-12-11 12:41] mar-bi commented on #8
I'm talking about an interaction between 2 style-sheets. Should I move my comments to #14 ?

[2017-12-11 13:42] spences10 commented on #8
@mar-bi let's make another issue for it as I've deleted the branch now and it is separate from #14

[2017-12-11 14:09] mar-bi opened #16 "global app style"
origin is at #14
moved from #8
There is a small issue with CSS - an existing CSS file `\layouts\index.css` takes a precedence over `\theme\globalStyle.js`.
Basically, `\layouts\index.css` came with `gatsby-starter` and contains almost a reset together with vendor prefixes.
`styled-components` handles **vendor** prefixes on its own.
So we can comment out `\layouts\index.css` or delete this file com

[2017-12-11 15:49] mar-bi opened #17 "make-reusable-page-layout"
`Header.js` and `Footer.js` components for page layout at `\layouts`

[2017-12-11 16:44] mar-bi commented on #5
Thanks @spences10. This trick with **close** is cool. 👍I'll use it for next pull requests.

[2017-12-12 09:22] mar-bi commented on #16
As a great fan of **Sass**, I would like to add the chosen **Color Palette** to `\theme\globalStyle.js`.
Referencing it in this way, we can keep colors through the app and alter them, if there would be a necessity.
[code]
Just import and use it.
[code]

[2017-12-12 09:35] spences10 commented on #16
Awesome @mar-bi 👌

I'll pick this up if you like?

[2017-12-12 09:36] mar-bi commented on #16
Great! Pick it up! :+1:

[2017-12-12 10:17] mar-bi commented on #17
As we plan to reuse the basic layout through the all 5+ pages of **grad.then()**,  I would like to divide `\layouts\index.js` into components: `Header.js` and `Footer.js`.
The folder structure can be like this:

src
   └── layouts
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├── components
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;│&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nb

[2017-12-12 12:32] spences10 commented on #1
1. Ok, so from me it was Colour Schema 2 or 4
1. Fonts, was it open sans and roboto?
1. 🤷‍♂️
1. We can make share components for these once agreed on colours I guess?

[2017-12-12 12:33] spences10 commented on #6
If you're confident we can achieve what we need to do without it then I'm with you @mar-bi

[2017-12-12 12:49] #16 closed

[2017-12-12 13:34] mar-bi commented on #17
I suggest to change the `layouts` folder structure and to be as following

src
└── layouts
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├── Components
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;│&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├── Header.js
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;│&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├── PageNav.js
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nb

[2017-12-12 14:32] mar-bi commented on #1
Right.
1. Schema 4 has got 3 votes. It's a leader. So you add it with you #16 .
2. Let's stay with these fonts.
3. together with **4**
4. we can discuss them before we start building them. :smile:

[2017-12-12 14:55] mar-bi commented on #6
Thank you, @spences10  :blush:  :smiley:

@miljan-fsd suggested to use it.
I went through the docs for this package twice. It has some built-in grid with 3 breakpoints. So it would be like using **Bootstrap**, but the initial idea was to avoid packages with grid system **out of the box** and learn how to use **CSS Grid** on its own.

So, I decided to dive into **CSS Grid** and built a `12-cols gri

[2017-12-12 17:25] spences10 commented on #6
Awesome work @mar-bi  👌

[2017-12-12 17:36] #17 closed

[2017-12-12 17:54] spences10 opened #20 "Add Waffle.io Throughput Graph"
Add in some metrics badges to the project README.md

This is the Markdown for the badge:

[code]

Will give you this shiny one:

[![Waffle.io - Columns and their card count](https://badge.waffle.io/chingu-voyage3/bears-16.svg?columns=all)](https://waffle.io/chingu-voyage3/bears-16)

And this one will give you a nice burndown chart 🔥 :

[code]

**SHINY:**

[![Throughput Graph](https://graphs.waffle

[2017-12-12 18:24] spences10 commented on #7
So, this will [could] be a dev dependency

There's no real need other than to have some dummy data to go onto the pages

It could be added into the `package.json` it'll be a 2 minute task

I'll happily do it just to get it off of the issues list 🙃

I'll pick this up in the morning if that's ok with you @mar-bi ?? 🤔

[2017-12-12 18:36] spences10 opened #21 "Create reuseable components for pages"
We need to identify what components we can use on all the pages.

There will be 6 issues following this one where we can attempt to identify components to be created for each page.

They will all be going into a project for tracking

## Checklist of components

**Check these off as they have issues created and added to the [Components](https://github.com/chingu-voyage3/bears-16/projects/3) project

[2017-12-12 18:41] spences10 opened #22 "Break Main page into components"
# discussion piece

![image](https://user-images.githubusercontent.com/234708/33901691-86e0540c-df6a-11e7-8730-c3116b07ece1.png)

We need to identify components that are unique to this page and one that can be used in the app.

[2017-12-12 18:45] spences10 opened #23 "Break Jobs page into components"
# discussion piece

![image](https://user-images.githubusercontent.com/234708/33902222-3f2dab08-df6c-11e7-9f64-deb453204cb8.png)

We need to identify components that are unique to this page and one that can be used in the app.

[2017-12-12 18:47] spences10 opened #24 "Break Events page into components"
# discussion piece

![image](https://user-images.githubusercontent.com/234708/33902383-be221df4-df6c-11e7-9fee-9b4b12c6b8ef.png)

We need to identify components that are unique to this page and one that can be used in the app.

[2017-12-12 18:48] spences10 opened #25 "Break Learn page into components"
# discussion piece

![image](https://user-images.githubusercontent.com/234708/33902436-e945fe10-df6c-11e7-9099-6355c7ff3f23.png)

We need to identify components that are unique to this page and one that can be used in the app.

[2017-12-12 18:49] spences10 opened #26 "Break Support page into components"
# discussion piece

![image](https://user-images.githubusercontent.com/234708/33902492-0f63ad54-df6d-11e7-88c4-457d46e26570.png)

We need to identify components that are unique to this page and one that can be used in the app.

[2017-12-12 18:51] spences10 opened #27 "Break Stories page into components"
# discussion piece

![image](https://user-images.githubusercontent.com/234708/33902576-556b6472-df6d-11e7-8147-2ba9ac816a10.png)

We need to identify components that are unique to this page and one that can be used in the app.

[2017-12-13 05:17] mar-bi commented on #7
It's ok. 👌
Please,  pick up it and close this issue.👍

[2017-12-13 08:22] mar-bi commented on #21
As I wrote in #17 , for now I can distinguish 3 "reusables" through the all pages of the app:
1. `Header` with **app name** and app **navigation**
2. `Footer` with **navigation** and **team name**.
3. `PageNav` which serves slightly different styled navigation for `Header` and `Footer`. It can accomplish this task with *conditional styling*.

Furthermore, there is a few more "reusables" sits on th

[2017-12-13 08:37] mar-bi commented on #20
I like them both. :+1:
They are nice motivators. It would be easy for anyone to see how we are doing here. :rocket: :building_construction: :hammer: :wrench:
I'd like to pick up it and play with these badges, of course, if you didn't mind. :smiley:

[2017-12-13 08:45] mar-bi opened #28 "add-main-page-visuals"
Our `Main` page has several visuals: an **image** and **icons**.
The latest I'd like to use as **icon buttons**.

Here I plan to discuss and gather ideas, links, suggestions about where to find these stuff, which one to choose, and how to implement.

[2017-12-13 09:10] spences10 commented on #20
Absolutely, go ahead @mar-bi 👌

Drop them into the top of the [README.md](https://github.com/chingu-voyage3/bears-16#gradthen)

[2017-12-13 09:13] spences10 commented on #21
I'm going to have to look at your awesome wireframes now to have a think about each one 🙃

What if, on each of the items we have for the main pages we list out what we think is a component then we can move them all here and update the [main](https://github.com/chingu-voyage3/bears-16/issues/21#issue-281492659) post with them all for reference, sound good ❓

[2017-12-13 09:16] #7 closed

[2017-12-13 09:19] spences10 commented on #28
I found an awesome post on using SVG icons, [here](https://medium.com/@david.gilbertson/icons-as-react-components-de3e33cb8792) @mar-bi

Really neat, here's the main part:

[code]

Then call it `<Icon icon={ICONS.EMAIL} size={64} />` you'll need to set up some constants and get the SVGs as well, natch 🙃

[2017-12-13 09:24] mar-bi commented on #20
What do you think about this? :smile:
---
# grad.then()

[![Waffle.io - Columns and their card count](https://badge.waffle.io/chingu-voyage3/bears-16.svg?columns=all)](https://waffle.io/chingu-voyage3/bears-16)

## Chingu Voyage 3 project (bears-16 team)

### Life after freeCodeCamp

Completed your boot camp? No more freeCodeCamp challenges to take?

Looks like it's time to get a job! 💪

`grad.the

[2017-12-13 09:30] spences10 commented on #22
Ok, so here's my attempt at identifying the components here:

Obvious ones first:
* Nav and it's components
* Styled h1 and p's
* Hero - big image

Then:

* Icons - see https://github.com/chingu-voyage3/bears-16/issues/28#issuecomment-351331333 for details
* Bear team logo component - to go in the nav

[2017-12-13 09:33] spences10 commented on #20
Super duper! 🚀

[2017-12-13 09:36] mar-bi commented on #21
Sounds great! :+1:
We are going to have an outstanding documentation. :upside_down_face:

[2017-12-13 09:38] mar-bi commented on #20
I wanted it to be super motivating. :muscle:

[2017-12-13 09:41] spences10 commented on #21
It should help yes 😄

[2017-12-13 09:52] spences10 commented on #27
## Components

I've made some presumptions here if you can clarify @mar-bi this will help for the next pages 👍

Excuse my shaky hand 😸

![image](https://user-images.githubusercontent.com/234708/33932412-cb542bce-dfea-11e7-879f-8c6a9af07243.png)

So, top is the nav, correct?

So if you can clarify what the other dark boxes are that would be great 💯

The only thing other than those I can identify wo

[2017-12-13 10:01] mar-bi commented on #28
That's cool. :+1:  I'm going to check it right now.
Also I walked around this library - [React Icons](http://gorangajic.github.io/react-icons/).
It has a whole bunch of stuff inside.

Currently supported icons are:

    Material Design Icons by Google https://www.google.com/design/icons/ (licence: CC-BY 4.0)
    Font Awesome by Dave Gandy - http://fontawesome.io (licence: SIL OFL 1.1)
    Typicons

[2017-12-13 10:02] spences10 commented on #26
![image](https://user-images.githubusercontent.com/234708/33933069-8a7c26c2-dfec-11e7-84ab-ca65ec175263.png)

## Components
* Nav
* Hero??
* Project card
* Projects container
* Featured projects container
* Serarch

[2017-12-13 10:17] mar-bi commented on #27
Yes, absolutely. Your identification of components is correct.  :+1: :mag:

Here I try describe the page components from the top to the bottom of the page.
We have:
1. `Header` (grad.then() + navigation menu)
2. `Dashboard` (heading with the name of  the page + some text + a button)
3. `Main`:
    * nav - a filter for stories ("latest", "oldest", "craziest" :grinning: )
    * search box
    * stor

[2017-12-13 10:22] mar-bi commented on #22
I have nothing to add! :clap: :100:
I like how you name a component **"hero"**. I'd like to use this name for it.

[2017-12-13 10:23] spences10 commented on #28
I found React Icons really annoying to drill down to find the exact icon you wanted to use, it was a while since I used it though, I like the option I linked because you had so much control over it

[2017-12-13 10:32] spences10 commented on #27
Ok, so `StoryCard` will be an issue in it's own right to go into the Components project?

Components project isn't a thing yet, feel free to create it 👍

we'll get a checklist going on the [main](https://github.com/chingu-voyage3/bears-16/issues/21) ticket for the components identification project 🎉

[2017-12-13 10:32] mar-bi commented on #28
That's great!
Thank you for the review. :+1:  I was afraid that this **React Icon** can be unhandy.
Let's follow your option. :small_airplane:

[2017-12-13 10:38] mar-bi commented on #27
Yes, `StoryCard` have to be an independent issue.
**Story Project** have to be created to, and checklist will help to track the identification.

[2017-12-13 10:40] spences10 commented on #28
Ok, cool 😎

One thing to bear in mind ould be that React Icons is all of:

[code]

Whilst the icons we would want to use will be a fraction of them all 🤔

[2017-12-13 10:50] mar-bi commented on #28
We need to extract *5+* icons from all this pool. :no_mouth:
However, this pool does exists. There are free icons with normal license and **no attribution**, I think.
A half of the task for searching icons is done. :smile:

[2017-12-13 10:52] mar-bi commented on #28
I need the same library for images :laughing:
Is there any **React Images**? :thinking:

[2017-12-13 11:00] mar-bi commented on #26
Exactly! :+1:
Plus:
1. Divider - gray box with text. It serves to divide a very long page. We have the same box on the `learn` page with some funny numbers and icons.
*(I think it some kind of fashion now to have such boxes with some funny numbers of users, items, revenues, cups of coffee,...)*
2. 2 lonely black boxes near the `search` box are filters ("latest" and "all" for example)

[2017-12-13 14:19] spences10 opened #31 "Repo Name Change"
**Just remembered we can do this**

👍

![image](https://user-images.githubusercontent.com/234708/33942810-0f822930-e00f-11e7-8b58-5ecb98d78bda.png)

[2017-12-13 14:31] spences10 opened #32 "Story Card"
# Story Card - component

![image](https://user-images.githubusercontent.com/234708/33943755-d983eb22-e011-11e7-85f0-3858bd5a510b.png)

General mockup pictured from the wireframes...

Story card contains:
  - image or avatar (dark circle)
  - heading of the story (2 dark boxes)
  - paragraph of a story text
  - button

Details [here](https://github.com/chingu-voyage3/bears-16/issues/27#issuecommen

[2017-12-13 14:48] mar-bi commented on #31
Cool! :+1:
We can rename it!

[2017-12-13 14:50] spences10 commented on #31
`grad-then` or `grad.then` I'm only a little bit nervous about the dot in the repo name, I don't think it's an issue

[2017-12-13 14:51] spences10 commented on #31
looking at it `grad.then` looks much better

[2017-12-13 14:53] mar-bi commented on #31
agree. `grad.then` is much better. Would it (renaming) cause any problem with my local clone? or shall i clone it again?

[2017-12-13 14:55] spences10 commented on #31
I don't think so
just rename it locally

[2017-12-13 14:57] mar-bi commented on #31
ok. let's do it

[2017-12-13 14:58] spences10 commented on #31
done 🙃

renamed the repo folder then cd into it did a git pull, all good 👍

[2017-12-13 14:58] #31 closed

[2017-12-13 15:00] mar-bi opened #33 "Project Card"
## Project Card Component
![projectcard](https://user-images.githubusercontent.com/25195616/33945483-d7c7cef0-e027-11e7-9983-c2e17a3f12bb.png)

`Project Card` contains:
   * image
   * heading with the project title
   * paragraph with the project details

[2017-12-13 15:05] spences10 commented on #25
![image](https://user-images.githubusercontent.com/234708/33945374-bef5007a-e016-11e7-8418-0548c811ffe7.png)

## Components

* Course Card
* Course Card container
* Divider
* Search
* Filters - @mar-bi  are Search and Filters the same component?
* ?? can you identify this pls @mar-bi  😁

[2017-12-13 15:19] mar-bi commented on #33
I see that this `ProjectCard` is quite similar with a card from `Events` page.
The main difference is that `EventCard` use a **list** for event details instead of **paragraph**.
I suggest to merge it in one card. Maybe with conditional styling.

[2017-12-13 15:23] spences10 commented on #33
I'd be interested to see how that is done @mar-bi

Do you want to update the checklist on the main issue for this and add it to the components project?

[2017-12-13 15:35] mar-bi commented on #25
You are right with components. 👌
I plan to put **filter**, which is basically an inline list of links, together with **search*  in one container.
So that, the user can have a quick access to meaningful groups of data or search for a paticular subject.
This pattern (**filter** with **search**) I used through the pages. It might be logical to assign it one component.

[2017-12-13 18:18] spences10 commented on #20
Ok, so looks like there's one side effect of changing the project name

The URL needs changing on the readme for the waffle badge and graph @mar-bi

Can I leave this with you?

![screenshot_20171213-181619](https://user-images.githubusercontent.com/234708/33954943-d625584c-e031-11e7-81c4-f929ceebe00a.jpg)

[2017-12-13 18:48] mar-bi commented on #20
I saw it.
Sure. I will fix it now

[2017-12-13 20:50] #20 closed

[2017-12-14 06:53] spences10 commented on #23
![image](https://user-images.githubusercontent.com/234708/33979195-302607ce-e09b-11e7-94ed-4022777a84a1.png)

## Components

* Nav
* Divider
* Search + Filter
* ??
* ??

I don't know what the last two sections are @mar-bi could you identify them for me please?

[2017-12-14 06:58] spences10 commented on #24
![image](https://user-images.githubusercontent.com/234708/33979398-0fd58494-e09c-11e7-9d3f-aadf2d13f5a9.png)

## Components

* Nav
* Divider
* Search + Filter
* Events Card
* Events container

[2017-12-14 08:16] mar-bi commented on #33
Here is an example how this *"conditional rendering"* can be done.
I added one more card
![cardwithouttitle](https://user-images.githubusercontent.com/25195616/33981475-c0760b7a-e0b5-11e7-8a8f-a2dcc63e94df.png)
and try to get 3 **slightly different cards** from one component.

in `components\ProjectCard.js`
[code]
**Option 1** - through style
Here I simply **hide** a title for a `card`, if it rece

[2017-12-14 08:29] mar-bi commented on #28
@spences10, I read yesterday this really **very awesome post** you suggested. :+1:
I like the way how we can deal with `.svg icons` very much. It is quite easy and lightweight - we will add only icons we need.
The author also suggests a great resource for icons - [IcoMoon](https://icomoon.io/app/#/select).
I picked up some icons from there. I will show you what I've chosen. :smile:

[2017-12-14 08:32] mar-bi commented on #24
Everything is right. :+1:

[2017-12-14 08:35] spences10 commented on #28
Yeah icomoon is where I got all the fa icons

Which ones have you chosen?

[2017-12-14 08:46] mar-bi commented on #28
These 17 icons. We need to choose from them 5 for the `main` page.
Basically, the icons are for `jobs`, `learn`, `support`, `share`, `community`.

![screen shot 2017-12-14 at 10 41 33-fullpage](https://user-images.githubusercontent.com/25195616/33983113-9b5efab2-e0bb-11e7-910d-2d2880a30670.png)

[2017-12-14 09:12] spences10 opened #35 "how to Mobile Responsive"
I know it's early days with this but I'm wondering how we make the nav mobile responsive, it sort of works

![grad then responsive](https://user-images.githubusercontent.com/234708/33984144-80aea7a6-e0ae-11e7-9bc6-6a6a7a470d9d.gif)

@mar-bi is this something you have done before?

[2017-12-14 09:26] spences10 commented on #23
Pagination? > ![image](https://user-images.githubusercontent.com/234708/33984781-b26b1ac0-e0b0-11e7-8c5b-12b9c93bd111.png)

Can you identify this please @mar-bi  >
![image](https://user-images.githubusercontent.com/234708/33984823-cc212310-e0b0-11e7-9250-7d23767ec76d.png)

[2017-12-14 09:28] spences10 commented on #26
The projects containers could we make a generic 'cards' container??

[2017-12-14 09:29] mar-bi commented on #23
Yes, these 2 boxes are `pagination`.
Then 2 components:
from left to right
  - `extended filter` - many different ways to filter jobs
  - `jobs list` with items describing a job offer

[2017-12-14 09:29] spences10 commented on #22
Closing this one, all items accounted for on https://github.com/chingu-voyage3/grad.then/issues/21

[2017-12-14 09:29] #22 closed

[2017-12-14 09:32] spences10 opened #36 "Create Story Project"
https://github.com/chingu-voyage3/grad.then/issues/27#issuecomment-351352376

[2017-12-14 09:34] spences10 commented on #23
super, added to the [list](https://github.com/chingu-voyage3/grad.then/issues/21)

closing this now

[2017-12-14 09:34] #23 closed

[2017-12-14 09:36] spences10 commented on #24
Ok, adding cards container as one item for Stories, Projects, Jobs etc

closing

[2017-12-14 09:36] #24 closed

[2017-12-14 09:37] mar-bi commented on #35
My answer is "yes". I have done it before.
`@media` will save us. :smile:
**media queries**, I mean.
Till now we didn't tell the browser how to lay out our content for small screens.

[2017-12-14 09:39] spences10 commented on #35
Ok, another lesson coming up 🤓

[2017-12-14 09:39] #35 closed

[2017-12-14 09:40] spences10 commented on #26
closing now with reference to [this](https://github.com/chingu-voyage3/grad.then/issues/24#issuecomment-351657965)

[2017-12-14 09:40] #26 closed

[2017-12-14 09:54] spences10 commented on #27
closing this now, all items listed on #21

[2017-12-14 09:54] #27 closed

[2017-12-14 09:55] mar-bi commented on #35
I will. :nerd_face:
Just to illustrate that it is possible.
I have made the 3 `Cards` to line up differently on screens with `max-width < 600px`

![3cards](https://user-images.githubusercontent.com/25195616/33985958-c719106c-e0c4-11e7-8026-a41407445680.png)

with this *piece of code*:

[code]
It's just a simple example of the power of **CSS grid** and `@media`. :upside_down_face:

However, this su

[2017-12-14 09:59] mar-bi commented on #25
This is the same list as `jobs list` from #23.
Just the list items are **thinner` :smile:

[2017-12-14 10:08] mar-bi opened #37 "Buttons"
There is 1 type of buttons* which is presented in 2 sizes:

  -**big**
![button](https://user-images.githubusercontent.com/25195616/33987021-1e41aebe-e0c8-11e7-9508-85f1d6a19e10.png)

  -**small**
![button_small](https://user-images.githubusercontent.com/25195616/33987044-2d098d40-e0c8-11e7-9f72-6f853208a2c3.png)

All buttons share the same `css` features:
  - outlined button - just colored border

[2017-12-14 10:08] spences10 commented on #25
closing now, components listed on #21

[2017-12-14 10:08] #25 closed

[2017-12-14 10:10] spences10 commented on #28
Cool, ok, so we can go ahead and make `constants.js` with all the icon svg in there and create a `icons.js` for the component?

[2017-12-14 10:13] spences10 commented on #37
mmmmmmm, buttons

[2017-12-14 10:44] spences10 opened #38 "Add page file structure"
add in pages to contain defined components in #21

[code]

[2017-12-14 10:46] mar-bi opened #39 "Hero Component"
`Hero` component
1. `Main` page `Hero`
![hero](https://user-images.githubusercontent.com/25195616/34014655-a73a5d68-e124-11e7-948e-d6c86c4dbe7e.png)

consists of:
  - container - takes 10 columns of the page and contains:
  - heading (`<h1>`  or `<h2>`)
  - list of items
  - attractive image as **css background**

2. all other pages `Hero` without `Button`
![hero2](https://user-images.githubuserco

[2017-12-14 10:56] #38 closed

[2017-12-14 11:27] spences10 opened #41 "git branches"
I'm thinking now we're going to quite possibly be developing on four different branches we should maybe consider making a `development` branch where our `dev/#/feature` get's merged into first before being moved up to master.

What's everyone's thoughts on this way of managing the changes?

[2017-12-14 11:33] spences10 opened #42 "Deployment"
It's a way off yet but it has been mentioned so let's have it as a discussion point.

Let me know your thoughts on this.

Personally, I ❤️  the `now` CLI from Zeit - I was reliably informed yesterday that for OSS you can have teams, `now` CLI has great configuration options and also deployments can be made, then tested then promoted up to production by re aliasing the link.

Other options mentione

[2017-12-14 11:34] mar-bi commented on #41
I totally agree with your arguments @spences10 . :+1:
We need to create the `development` branch.

[2017-12-14 11:38] spences10 commented on #41
Ok, I think I need to update the README.md with some relevant information for this

As a reference 🤔

[2017-12-14 11:42] mar-bi commented on #41
Right. :+1:
Besides, I think we need provide a small guide how to use branches, make poll requests. Some kind of basic contribution etiquette. :question:

[2017-12-14 11:43] spences10 opened #43 "README.md information"
## Info to be added to the README.md

- [x] Config information [how it works/is put together]
- [x] Deployment information
- [x] Milestones
- [x] Projects
- [x] How to use - `npm init` etc
- [x] Git branch information
- [x] How to branch
- [x] Detail libraries used
- [x] Authors
- [x] Licence

Anything else need adding?

[2017-12-14 11:44] spences10 commented on #41
Ok, see https://github.com/chingu-voyage3/grad.then/issues/43

[2017-12-14 11:46] mar-bi commented on #42
I have used *Heroku*, *GitHub Pages* and *Glitch*.
You suggest `now`.  I agree to give it a try

[2017-12-14 11:47] spences10 opened #44 "Add Hero component to main page"
Hero component added to Main [`index.js`] page

Hero component requirements still to be determined and added to https://github.com/chingu-voyage3/grad.then/projects/3

[2017-12-14 11:49] mar-bi commented on #43
I would add info about projects. ( If I want to build a button, where to find its description.)
And maybe milestones with dates.  To have in front of the eyes.

[2017-12-14 11:50] spences10 opened #45 "Icons added to Main page"
Icons for main page need adding in

details fo Icons component will come from: https://github.com/chingu-voyage3/grad.then/projects/3

[2017-12-14 11:52] spences10 opened #46 "Bears team logo added to Main page"
Bears team icon/image component to be added to the `index.js` page

Please refer to the Components project page for details: https://github.com/chingu-voyage3/grad.then/projects/3

[2017-12-14 11:54] spences10 commented on #43
OMG YES!

I have only added vague dates and milestones but we need to discuss these!!

[2017-12-14 12:06] spences10 opened #47 "Icons Component"
# Icon Component

Icon:

From this great post https://medium.com/@david.gilbertson/icons-as-react-components-de3e33cb8792

Create a `const.js || constants.js` file with all the SVG icons
Create a `icons.js` file which returns the `Icon` component

[2017-12-14 13:41] asanhix opened #48 "Divider Component"
Maybe we can base our divider component as in the following example https://shoutem.github.io/docs/ui-toolkit/components/dividers

[2017-12-14 13:43] asanhix commented on #21
I tick the divider maybe this article will help us to shape our own divider. https://shoutem.github.io/docs/ui-toolkit/components/dividers

[2017-12-14 13:48] spences10 opened #49 "check your origin URL"
check that the repo name change doesn't affect you

[code]

If you get:

[code]

then change it with:

[code]

check again to verify with `git remote -v` you should have

[code]

Or the https equivalent 😉

[2017-12-14 13:50] spences10 commented on #21
This issue needs to be open still @asanhix  👍

Up until we have all the items checked off

[2017-12-14 14:04] asanhix commented on #21
@spences10 thanks :) I did see that `Close and comment` should be avoided and `Comment` is :+1

[2017-12-14 14:10] spences10 commented on #21
Ha yeah, we've all done it before in sure 😁

[2017-12-14 14:11] asanhix commented on #47
For the most part maybe we can use unicode chars they have enormous icon like characters maybe we do not need to use any library at all 🐻
https://unicode-table.com/en/1F43B/

[2017-12-14 20:38] mar-bi commented on #49
Thank you @spences10 for this guideline. :+1:
I changed the `remote` according these instructions.

[2017-12-14 20:41] mar-bi commented on #28
Right.
Let's create them.

[2017-12-14 20:44] spences10 commented on #49
it was only when I pushed a new branch that I saw the prompt, it was a deprecation warning so it would probably have worked for a while longer. 🤷‍♂️

[2017-12-14 20:45] spences10 commented on #28
@mar-bi  I presume you have all the SVGs you need now?

[2017-12-14 20:51] mar-bi commented on #49
It is safer to change the `remote`.
I think we have to keep this branch active, until we are sure that all clones has access to the `origin`.

[2017-12-14 21:08] mar-bi commented on #47
I prefer to use **SVG icons**. :upside_down_face:
They are scalable and text-based.
You can easy style them using **CSS** and store with your constants.
There are many good and free libraries of **SVG** icons, and we can pick up just what we want.

[2017-12-14 21:10] spences10 opened #51 "Bears Team Logo Component"
## Logo
![bear](https://user-images.githubusercontent.com/234708/34014462-16d40974-e113-11e7-9228-ffdf2b552db6.png)

Light Bear SVG:
'M490.182,135.355c14.07-14.07,21.819-32.776,21.819-52.673c0-19.898-7.749-38.604-21.819-52.673 c-29.043-29.045-76.304-29.045-105.347,0l-15.108,15.108c-34.72-19.154-73.783-29.222-113.726-29.222 s-79.006,10.069-113.726,29.222l-15.108-15.108c-29.044-29.046-76.303-29.046-

[2017-12-14 21:13] mar-bi commented on #51
Cool!
Pure SVG! I told you that I like these cute bears. After I saw the `path`, I like them even more: :smile:

[2017-12-14 21:14] spences10 commented on #49
I'm not when @miljan-fsd and @asanhix cloned, if it was after the name change then I guess there not going to be any issues

[2017-12-14 21:16] spences10 commented on #47
☝️  this

[2017-12-14 21:27] mar-bi opened #52 "Search-and-Filter Component"
Search-and-Filter Component
![search-filter](https://user-images.githubusercontent.com/25195616/34015302-b0137012-e126-11e7-8e44-986c55befbf1.png)

contains:
  - container
  - list of links (`filter`)
  - input (`search`) without a search button

[2017-12-15 07:51] mar-bi commented on #28
Yes, you are right. :+1:
I have the SVG's for the `main` page.
I picked up a bit more than the page needs. I'm going to create an issue and present all them there giving a chance for all of us to choose the best icons.
Of course, I'd like to handle `constants.js` and `icons.js` :sunglasses:

[2017-12-15 07:54] mar-bi opened #53 "main-page-icons"
**Icons** for the **Main Page**
---
This is how the icons are used on the `Main` Page
![iconsmainpage](https://user-images.githubusercontent.com/25195616/34034096-bd30fe90-e185-11e7-9174-5b8f9fd43ec2.png)
---
Let's look at what I picked up for `Main` Page.
1. Icons for `Jobs`
![jobs](https://user-images.githubusercontent.com/25195616/34035834-efd3d484-e18b-11e7-9912-bf6398168033.png)

2. Icons for

[2017-12-15 09:59] mar-bi commented on #53
I prefer next icons:
1. Any briefcase, but **briefcase-3** more
2. **icon-books**
3. last 2 icons in the row - **group-2** and **slideshare**
4. first 3 icons - **ruler** and both **puzzles**
5. **icon-blog**

[2017-12-15 10:04] mar-bi opened #54 "Pagination Component"
**Pagination** is a few clickable digits down a list
Its role is to bring the next `n` items of the list.

![pagination](https://user-images.githubusercontent.com/25195616/34037167-63ee4b8e-e190-11e7-8aff-d648f8747524.png)

This is a nice example of `Pagination`. (thanks *Github*) :upside_down_face:
![paginationexample](https://user-images.githubusercontent.com/25195616/34038558-774ca43c-e195-11e7

[2017-12-15 10:17] mar-bi opened #55 "Extended Filter Component"
**Extended Filter Component**

![extendedfilter](https://user-images.githubusercontent.com/25195616/34037629-3705b010-e192-11e7-9d89-b2180410577a.png)

contains:
1. main container
2. 4 child containers with:
    - heading (`<h3> or <h4>`) with name of the filter
    - `<select>`** element with `options`

** `<select>` element is not editable and it uses the OS default style.
More details [here](ht

[2017-12-15 10:38] mar-bi opened #56 "Jobs List Component"
## Jobs List Component

1. thick boxes (rows) - `jobs` page
![jobslist](https://user-images.githubusercontent.com/25195616/34044920-9e31f588-e1af-11e7-8ce6-eae3c6f43948.png)

2. thin boxes (rows) - `learn` page
![learnlist](https://user-images.githubusercontent.com/25195616/34044955-c21403ec-e1af-11e7-9a66-534f32a74e3b.png)

Contains:
  - container
  - a number of `div's` with data (about jobs and

[2017-12-15 10:41] spences10 commented on #53
Same here, I'll go with your choice @mar-bi

The only ones I was concerned about was `Jobs`, looks like a toolbox, but hey that's fine, and I prefer it to the other two, so moot point 🙃 and the `Events` one I preferred the look of icon-group-2 but thinking about it your selection makes more sense.

[2017-12-15 10:42] spences10 commented on #54
I'll take this 👍

[2017-12-15 10:49] mar-bi commented on #53
What about **briefcase-2**, @spences10 ?
It has 2 nice locks. :upside_down_face:
For `events` you like **icon-group-2**, right?

[2017-12-15 10:50] mar-bi commented on #53
And what is about `support-contribute`?
**Puzzles** or **Pencil&Ruler** ?

[2017-12-15 11:18] asanhix opened #57 "Card Container"
Card container is the direct parent of cards.
* Do we need the container or a separator component will be enough?
* If no what would be its behavior and data?

[2017-12-15 11:24] asanhix commented on #49
Checked and it is up to date with the current origin. :) Thank you.

[2017-12-15 11:29] spences10 commented on #53
**briefcase-2** 👍
`Events` **icon-group-2** Yes
**Pencil&Ruler** 👍

[2017-12-15 12:16] mar-bi commented on #53
Cool!😎
I can start building icons 🎉💻🔧🔨

[2017-12-15 12:49] mar-bi commented on #53
@asanhix and @miljan-fsd
you can add your voices. The discussion is still open.
I've started to build **icons**, and it doesn't cost anything to switch from one icon to another. :upside_down_face:

[2017-12-15 12:57] asanhix commented on #53
@mar-bi thanks All fine with me if something is off with the design we  can modify it later right?

[2017-12-15 13:11] mar-bi commented on #57
This component is a tricky one.
Here I list all its forms that are presented in our app

1. **4-Cards Container**

![4-cards-container](https://user-images.githubusercontent.com/25195616/34043106-404b6cbc-e1a8-11e7-9509-23f0a63fc545.png)

2. **5-Cards Container**

![5-cards-container](https://user-images.githubusercontent.com/25195616/34043141-5e915786-e1a8-11e7-82e1-fb491f71223c.png)

3. **2-Card

[2017-12-15 13:13] mar-bi commented on #53
yes, exactly.
we can modify it later :smile:

[2017-12-15 13:38] mar-bi commented on #48
These are our dividers:

1. Divider with text
![didvider-with-text](https://user-images.githubusercontent.com/25195616/34043801-470f4d22-e1ab-11e7-82c8-ac2c2161c371.png)

2. Divider with icons (yes, that's it. we need more icons :upside_down_face: )

![didvider-with-icons](https://user-images.githubusercontent.com/25195616/34043817-548d39d2-e1ab-11e7-9f0b-2d7d996d4908.png)

The last one is quite p

[2017-12-15 13:41] mar-bi commented on #48
@asanhix , I like the divider you suggested. :+1:
I found this library is built on top of **ReactNative**. Right?

[2017-12-15 13:56] asanhix commented on #48
@mar-bi yes  I found it w/ google search and believe we can replicate the functionality its is like a micro layout. We can keep it simple and if necessary build upon it.  :)

[2017-12-15 14:06] mar-bi opened #58 "Nav"
`Header`

![header](https://user-images.githubusercontent.com/25195616/34045583-320699ba-e1b2-11e7-9318-d853dbfe5aa0.png)

`Footer`

![footer](https://user-images.githubusercontent.com/25195616/34045587-3a918266-e1b2-11e7-86da-ca26aec47ae3.png)

Let's have them here for sake of completeness and perfection! :mount_fuji: :upside_down_face:

[2017-12-15 14:17] mar-bi commented on #21
All 13 components have been added to **Components** Project.
Congratulations, everybody!!! :fireworks: :boom: :boom:

[2017-12-15 15:05] mar-bi commented on #48
@asanhix , I've got your idea and I like it. :+1:
React has this cool feature - [conditional rendering](https://reactjs.org/docs/conditional-rendering.html).
Maybe you can try to figure out how to build this *micro layout* for `Divider Component` in `Gatsby`. (yes, it's challenging :nerd_face: )

**Conclusion**: Would you like to start building this component? :wink: :upside_down_face:

[2017-12-15 15:27] spences10 commented on #49
Ok, so if we have @miljan-fsd sign off then we can close? 🤔

[2017-12-15 15:50] asanhix commented on #48
Thanks. :) sure @mar-bi  I will happily start to build it. :)

[2017-12-15 16:50] mar-bi commented on #49
Yes. We can close it.

[2017-12-15 17:11] spences10 commented on #56
Should this be:

For `Jobs` a `<h2>` for the headline and a `<p>`?

For `Learn` just the `<h2>`

I presume it will be two props, header and paragraph??

[2017-12-15 17:48] spences10 commented on #32
I'm going to pick this up unless anyone else has a real burning desire to do so.

Let me know, for now though I'm removing you guys 😛 @mar-bi @asanhix  @miljan-fsd

[2017-12-15 18:03] spences10 opened #59 "Prettier pre-commit"
# Prettier all the things

Not sure if any of you guys have noticed that Prettier come installed with the Gatsby starter we're using, if you're not familiar with Prettier it's an opinionated code formatter I run it on the `development` branch with `npm run format` and got a few changes, 😬

![image](https://user-images.githubusercontent.com/234708/34054230-dd15ac24-e1c1-11e7-8267-ee8e51142bb5.png)

[2017-12-15 20:00] mar-bi commented on #59
I noticed this package in `package.json`.
Now I know what will consume my lovely semicolons. :upside_down_face:
Great idea, let's make code prettier. :+1:

[2017-12-15 20:05] #59 closed

[2017-12-15 20:09] mar-bi commented on #56
Yes. For `Learn` could be `<h2>` and `<ul>` with dates or details.
And 2 props.

[2017-12-15 20:15] mar-bi commented on #32
It's ok! :+1:
Look forward to see the result! :clap:

[2017-12-15 20:21] mar-bi commented on #51
I'd like to pick up this.
It will join nicely my collection of SVGs and my `navs`.  :crown:
Hope, nobody has objections. :smiley:

[2017-12-15 20:52] spences10 commented on #56
Ok, I'll take this one too 😄

[2017-12-16 10:55] mar-bi commented on #39
I'd like to pick up `Hero`, however it have to be built after `Buttons`. :pause_button:

[2017-12-16 10:57] mar-bi commented on #33
I like it, I take it. :yum:

[2017-12-16 11:12] mar-bi commented on #41
@spences10,
I think it would be better if we don't `push` own branch directly to `development `.
I'd like to enforce code reviews at the `development` branch first.
It would be no needs to update `master` after every single `component` addition.
What do you think?

[2017-12-16 13:23] #47 closed

[2017-12-16 13:48] spences10 commented on #39
![giphy 1](https://user-images.githubusercontent.com/234708/34071034-c8ed055c-e267-11e7-9a6c-f503a2aad0b3.gif)

[2017-12-16 13:52] spences10 commented on #41
So push `dev/spences10/32/story-card` to `development` then from `development` to `master`?

I'm beginning to think maybe we use Travis or some form of CI @mar-bi?

[2017-12-16 14:29] mar-bi commented on #51
I started `BearsTeam` Component

![image](https://user-images.githubusercontent.com/25195616/34071250-1de5b086-e27c-11e7-94fc-39ba6f5275ad.png)

I'd like to wrap it into a link, so it will point out to our repo (or any other location, please suggest).

@spences10 , @asanhix , @miljan-fsd
Please also suggest how to improve text, alignment of text and icon, hover color, and any ideas you like to add

[2017-12-16 16:24] spences10 commented on #51
Hmm, yeah, the Repo or the [Authors][auth] section on the [README.md][rm]

[auth]: https://github.com/chingu-voyage3/grad.then#authors
[rm]: https://github.com/chingu-voyage3/grad.then#gradthen

[2017-12-16 18:04] spences10 commented on #37
Taking this one 👍

[2017-12-16 18:04] spences10 commented on #37
Taking this one 👍

[2017-12-16 18:19] mar-bi commented on #51
*Authors* is better, I guess.

[2017-12-16 18:25] mar-bi commented on #39
Ok. I take it :handbag:

[2017-12-16 18:51] spences10 commented on #51
I ❤️ the way this look by the way 🥇

[2017-12-16 19:11] spences10 commented on #32
Needs `Button` adding still Scott 🙃

[2017-12-17 06:34] spences10 opened #69 "Use styled-components <ThemeProvider>"
# Discuss with me 😄

I'd like us to consider using the `[<ThemeProvider>]` [wrapper][theme] in styled components

It provides theming to all components underneath it, it could be handy for things like this [function theme][func-theme] for inverting colours.

This example would then need ` theme={theme}` passed instead of defining the colours via props.

![image](https://user-images.githubuserconte

[2017-12-17 07:30] asanhix commented on #69
Would be nice addition I think because no redundant color definition only one place to change color variables via theme.

[2017-12-17 07:53] spences10 commented on #32
Closed with https://github.com/chingu-voyage3/grad.then/pull/66

[2017-12-17 07:53] #32 closed

[2017-12-17 07:54] spences10 commented on #37
Closed with #67

[2017-12-17 07:54] #37 closed

[2017-12-17 08:14] asanhix commented on #49
Yes I agree we can close.

[2017-12-17 08:23] mar-bi commented on #69
I likes the idea of `theming`, however I don't quite understand how the file structure is going to be organized.
We are going to add `theme` to `globalStyle` and then import it, right? :thinking:
After that we can use cool things like **function theme**.

[2017-12-17 08:28] asanhix commented on #57
@mar-bi can we use media-queries here. As viewport width changes our Cards container  can decide to how may columns go into  a row?

[2017-12-17 08:39] spences10 commented on #69
The root component will need to be wrapped in the <ThemeProvider> then things like brand colour will be available...

So I think if we add the following:

**`src/theme/globalStyle.js`:**
[code]

Ah, I see the problem here:

**`src\layouts\index.js`:**
[code]

Let me come back to this, I'm going to Google around see if I can find some examples with Gatsby

[2017-12-17 08:56] spences10 commented on #48
Closed with #68

[2017-12-17 08:56] #48 closed

[2017-12-17 08:56] #49 closed

[2017-12-17 09:06] spences10 commented on #6
Closing, using CSS Grid  with styled components now

[2017-12-17 09:06] #6 closed

[2017-12-17 09:37] spences10 opened #72 "404 page"
Detail and information to replace the standard Gatsby 404 page

[2017-12-17 09:47] mar-bi commented on #1
**ColorPalette4**
![colorpalette4](https://user-images.githubusercontent.com/25195616/34078276-93a0fe36-e31f-11e7-8ecb-3f8facfe1173.png)

Hex Values:
  - "red" - #ff8463
  - "green" - #8ac3a9
  - "yellow" - #fcdeb6
  - "light violet" - #755f9f
  - "dark violet" - #453463

[2017-12-17 10:11] spences10 opened #73 "Milestones"
# Lets talk about Milestones 🗿

For accountability and our motivation let's get some milestones set up.

I made an attempt but need your input please. 🙏

What are realistic milestones for us to start aiming for...

So far there is the following:

* app design
* main page
* mvp complete
* learn
* jobs
* event
* stories
* support

can we talk about what needs to go into them and dates on completion

[2017-12-17 10:32] mar-bi commented on #73
As we still far from completion of these milestones we can add one more (which is closer)
  - **app components** - we are going to finish them soon.
  - **user stories** - some of them has already incorporated in app design (we build this way because we expect some *user-app* interactions) and there will be more

I thinks others are relevant.
After completion of  the **app components** we can move

[2017-12-17 10:34] mar-bi commented on #73
One more:
- **responsive pages** :boom:

[2017-12-17 10:38] mar-bi commented on #73
And maybe **app design** we can close.
We did it, accepted and applied.
What is going now is just *fine-tunning* :lipstick:  :smile:

[2017-12-17 10:53] mar-bi commented on #57
not exactly `@media` but awesome features of **css grid**.
I'd like to play&build this component. :baby_chick: :smile:

[2017-12-17 11:21] spences10 commented on #73
☝️  this will complete when the https://github.com/chingu-voyage3/grad.then/issues/1 is closed

[2017-12-17 11:51] asanhix commented on #57
:+1:

[2017-12-17 12:30] spences10 opened #76 "Button text not upper case"
Someone didn't follow the spec for the `Button` component

###### that someone is me 🙃

Will need to add...

[code]

to the `Button` component

I'll pick this up unless someone wants to take a look at it 👍

[2017-12-17 12:37] asanhix commented on #76
Will add that css rule
I am on it :smile:

[2017-12-17 13:05] #51 closed

[2017-12-17 13:09] mar-bi commented on #76
This is considered as  a **css best practice** to make `uppercase` in **CSS** not **HTML**.:ok_hand:

[2017-12-17 13:11] mar-bi commented on #73
Ok, I've got it :grin:

[2017-12-17 13:17] mar-bi commented on #46
added to `Main` page via `Nav` component in #74
I close this issue.

[2017-12-17 13:17] #46 closed

[2017-12-17 13:18] asanhix commented on #76
:+1:

[2017-12-17 13:24] mar-bi commented on #53
added via `Icon.js` and `constants.js`.
closed with #61

[2017-12-17 13:26] #53 closed

[2017-12-17 13:27] mar-bi commented on #58
Closed with #74

[2017-12-17 13:27] #58 closed

[2017-12-17 14:21] mar-bi commented on #76
closed by #78

[2017-12-17 14:21] #76 closed

[2017-12-18 09:00] spences10 commented on #41
closed with https://github.com/chingu-voyage3/grad.then/pull/50

[2017-12-18 09:00] #41 closed

[2017-12-18 10:51] miljan-fsd opened #81 "favicon.ico file"
Generate **favicon.ico** file.

[2017-12-18 11:08] spences10 commented on #81
I think @mar-bi had a few suggestions when we first started the Slack chat, not sure if they are still available due to the message limitations on slack.

@mar-bi do you still have the `grad.then()` mockups you did?

[2017-12-18 11:15] spences10 opened #82 "Use CI for deployment of grad.then()"
# Lets discuss deployment

There are not many deployment options available for teams to use, I ran through several this morning.

And they will all need either a shared account or a paid team account.

Surge.sh was the most straightforward to set up but appears there's no team option but you can us CI there are several options but I think Travis CI is the most straight forward:

https://surge.sh/h

[2017-12-18 13:33] mar-bi commented on #81
yes, sure i have it
![grad_then](https://user-images.githubusercontent.com/25195616/34108447-bc53a7f4-e408-11e7-9b95-55285409e633.png)

However it is quite long for a favicon. Could we use just a cap instead?
![caps](https://user-images.githubusercontent.com/25195616/34108393-81a325a8-e408-11e7-934a-854491a53ca5.png)

[2017-12-18 14:10] spences10 commented on #81
I like 1 or 3

[2017-12-18 15:43] spences10 commented on #82
Ok, after `tar`gate we're not using Serge

What I did do was get the `gh-pages` script working, I hadn't cleared my cache that's why the routes weren't working.

So, now we can all deploy to the `gh-pages` with the npm script `npm run deploy`

I'll leave this open for this evening so we can all discuss

## Please add anything you think needs discussing

Currently anyone can deploy from a developme

[2017-12-18 17:10] asanhix commented on #81
I prefer this one :)
![image](https://user-images.githubusercontent.com/19663392/34118326-67894c5e-e3ec-11e7-946e-78f5536ba93f.png)

[2017-12-18 17:39] asanhix commented on #43
maybe we can add contributing section to readme.md

[2017-12-18 17:44] asanhix commented on #36
In this section do we need to give use cases for the app? :)

[2017-12-18 17:47] asanhix commented on #42
#82 will close this right?

[2017-12-18 18:10] spences10 commented on #43
Absolutely, but currently, it's just us 👌

[2017-12-18 18:13] spences10 commented on #42
It could, but I'd prefer to have everyone's opinion on how we handle deployment

Currently it's not great

[2017-12-18 18:14] asanhix commented on #52
@mar-bi  maybe we can break this in two sub components what do you think?

[2017-12-18 18:22] spences10 commented on #52
What are the sub components?

[2017-12-18 18:23] asanhix commented on #52
* search bar
* filter tags
maybe?

[2017-12-18 18:37] miljan-fsd commented on #81
First is perfect.

[2017-12-19 07:10] mar-bi commented on #81
Nice choice, guys! :+1:
Here is the [.svg](https://drive.google.com/open?id=1I7XMqdGC7xiX6Nxg5tceRR_QUoN8f58j)

[2017-12-19 08:16] miljan-fsd commented on #81
I will. :-)

[2017-12-19 08:44] mar-bi commented on #54
closed with #80

[2017-12-19 08:44] #54 closed

[2017-12-19 08:51] mar-bi commented on #69
@spences10 , have you taken this issue?
It will be followed by an issue with changes to existing components.
I'd like to help with them. :construction_worker_man:

[2017-12-19 08:58] spences10 commented on #69
I have @mar-bi yes, working on it now

It's going to change all components that use the `ColourPallette` what is it you'd like to help with?

I can push what I have done so far so you can compare and take a look at what's happened so far??

[2017-12-19 09:04] mar-bi commented on #39
closed with #91

[2017-12-19 09:05] #39 closed

[2017-12-19 09:56] mar-bi commented on #52
I'd prefer to have it like 1 component because of the usage pattern.
This `filter` has always `search` companion. :dolls:

So it can be
[code]
The number of `<a>` can be received via props. Then we need to build all `<a>` using the `map` function.

[2017-12-19 09:59] mar-bi opened #93 "Bug in Nav component"
Bug is found. :bug:

Link to `learn` in `Header` has **green** color instead of **red**.
(It's not a `bug`, it's a new `feature` :smile:)

Going to catch it.

[2017-12-19 12:53] mar-bi commented on #69
I expect there would be lots of changes in components to replace current `ColorPalette`.
If you are ready, you can push it and we will test it. :upside_down_face:

[2017-12-19 12:55] mar-bi commented on #93
closed with #94

[2017-12-19 12:55] #93 closed

[2017-12-19 13:03] mar-bi opened #98 "Nav enhancement"
We'd like to see the app `Nav` perfect and shiny. :sun_with_face: :full_moon_with_face:

Here we add and discuss ideas of its enhancement. :prince:

**Current ideas**
  - `outline:none;` for buttons and links - get rid of **dotted rectangle** around a link when it is clicked.
(Could we do this via `globalStyle.js`???)
  -  "ActivePage" highlight for Links (in `Header`, `Footer` or both???).
  -  f

[2017-12-19 13:07] miljan-fsd commented on #98
Invert colors, **purple** for background, **white** for text?

[2017-12-19 13:49] mar-bi commented on #98
This is for `ActiveLink`, right?

[2017-12-19 13:57] miljan-fsd commented on #98
Yes. Do you have any other suggestions?

[2017-12-19 14:01] mar-bi commented on #98
Now I'm taking about `Header`.
The background is white. `ActiveLink` should have a colour that is visible on the white background.
Or do you want to draw a **violet** button with **white** text around the `ActiveLink`?

[2017-12-19 14:27] mar-bi commented on #98
![screenshot-2017-12-19 grad then](https://user-images.githubusercontent.com/25195616/34161475-75825c40-e4d9-11e7-8ef9-6b2ff55de177.png)

[2017-12-19 14:36] miljan-fsd commented on #98
It would be great if the top and bottom edges of `ActiveLink` match the header edges.

[2017-12-19 14:46] miljan-fsd commented on #98
My Prepositions:
- Fixed `Header` only
- ActivePage in `Header` only

[2017-12-19 14:50] mar-bi commented on #98
1. Full edges
![screenshot-2017-12-19 grad then 3](https://user-images.githubusercontent.com/25195616/34162509-ab1c9ea8-e4dc-11e7-92ec-3a406e9fe7e2.png)

2. Another idea - no `bg` just `outline`

![screenshot-2017-12-19 grad then 2](https://user-images.githubusercontent.com/25195616/34162479-880455f0-e4dc-11e7-8bf8-49e3cd250e25.png)

[2017-12-19 15:07] miljan-fsd commented on #98
We can go with second option. :100:

[2017-12-19 15:41] spences10 commented on #98
Really small detail but can we transform from square edges to the rounded ones on hover too?

With a half second display?

[2017-12-19 17:19] #69 closed

[2017-12-19 19:31] spences10 commented on #98
I'd like to take this 💪

[2017-12-20 07:31] mar-bi commented on #98
You are welcome to take it, @spences10

I want to add some note that you might find useful. It's about **ActivePage** link.
There is a few special attrs for **Gatsby Link** which can help you.

from [Gatsby Link](https://github.com/gatsbyjs/gatsby/tree/master/packages/gatsby-link)

*This code is from my draft for presentation purpose*
The red outlined link in example I did like this:
[code]
consta

[2017-12-20 07:38] mar-bi commented on #55
I'd like to take this one. :baggage_claim:

[2017-12-20 07:54] #33 closed

[2017-12-20 10:30] miljan-fsd opened #105 "Eslint linting utility"
Add configuration file and all necessary dependencies.

[2017-12-20 10:51] #105 closed

[2017-12-20 13:28] #56 closed

[2017-12-20 14:01] mar-bi commented on #57
The `CardContainer` is going to look like this
1. `LEARN

![screenshot-2017-12-20 grad then](https://user-images.githubusercontent.com/25195616/34210409-683a3510-e59e-11e7-89b5-5a298befc064.png)

2. `EVENTS`

![screenshot-2017-12-20 grad then 1](https://user-images.githubusercontent.com/25195616/34210542-da885b74-e59e-11e7-8556-6a89d124f236.png)

3. `SUPPORT`

![screenshot-2017-12-20 grad then 2](

[2017-12-20 14:02] spences10 commented on #57
Sweet! 🎊 🎉

[2017-12-20 14:42] #57 closed

[2017-12-20 15:04] spences10 opened #114 "Add PropTypes to all the things"
Ok, lets add in propTypes for all the things

[code]

## Components
- [x] BearsTeam.js
- [x] Button.js
- [x] CardContainer.js
- [x] Divider.js
- [x] Footer.js
- [x] Header.js
- [x] Hero.js
- [x] Icon.js
- [x] JobsList.js
- [x] PageNav.js
- [x] Pagination.js
- [x] ProjectCard.js
- [x] Quote.js
- [x] StoreyCard.js

## Pages
- [x] events.js
- [x] index.js
- [x] jobs.js
- [x] learn.js
- [x] stories.js

[2017-12-20 15:12] mar-bi commented on #114
I'm going to check it with `eslint` first.
It have to do something good despite its behavior with `gatsby` :smile:

[2017-12-20 15:47] mar-bi commented on #114
I checked only components, that have already had `prop-types` or don't need.

[2017-12-20 15:49] mar-bi commented on #114
I fixed `prop-types` for:
 - BearsTeam.js
 - Button.js
 - CardContainer.js
 - Divider.js
 - PageNav.js
 - ProjectCard.js

[2017-12-20 18:16] spences10 commented on #114
Ok, so there's:

* JobsList.js
* Quote.js
* events.js
* index.js
* jobs.js
* learn.js
* stories.js
* support.js

I'll take a look now

[2017-12-20 18:49] spences10 commented on #114
Ok, PR incomming

[2017-12-20 21:01] #114 closed

[2017-12-21 06:11] spences10 opened #118 "ESLint linebreak style"
I feared this would happen,

###### when I say 'this' I mean ESLint wasting my time 🙃

![image](https://user-images.githubusercontent.com/234708/34242662-9606e44a-e614-11e7-9a4b-6210d162ed56.png)

Is the `linebreak-style` needed, I use Windows and have either had to use editor config 🐭  or not use ESLint 🙃 to get rid of this warning in the past.

I spent my morning trying to find a solution to an

[2017-12-21 06:28] spences10 commented on #118
This solves a lot of my issues:

![image](https://user-images.githubusercontent.com/234708/34243333-23aa2250-e618-11e7-963e-4c9b68bba723.png)

[2017-12-21 07:18] mar-bi commented on #118
I can't say that I don't like `eslint`.
However, I'm not happy to get the errors about undefined `theme` props or undefined `graphql`. :angry:
Ok, there are solutions, like importing `graphql`. But shall I do that if it works without import?

Also we switched from importing the `ColorPalette` in every component to the `Theme`. Now I `eslint` pushes me to declare the usage of the  `theme` in props

[2017-12-22 06:52] spences10 commented on #98
@mar-bi I have tried several combinations for passing `props` and none of them are applied on the `activeStyle`

Tried, this:
[code]
And this:
[code]
Passing the actual value works though: 🙃
[code]

[2017-12-22 07:17] mar-bi commented on #98
I guess we could use `activeClassName` attr for styling instead of `activeStyle`
**Idea**
add an extra class to `NavLink` then pass it to `activeClassName`
[code]
then
[code]
It might work (it depends if  *activeLink* class can be found in a pool of fancy classnames of `styled-components`). :upside_down_face:
I haven't tested this idea yet.

[2017-12-22 07:31] spences10 commented on #98
@mar-bi you're the best 👌

That did it 💯 awesome!!

![grad then](https://user-images.githubusercontent.com/234708/34289353-109b0882-e6ea-11e7-99af-b830c45495dd.gif)

[2017-12-22 07:56] mar-bi commented on #98
Wow! That's perfect !!! :1st_place_medal:

[2017-12-22 08:40] #98 closed

[2017-12-22 09:27] spences10 commented on #118
I've edited my dotfiles [I'm Windows and Ubuntu user via Windows Subsystem Linux so two `.giotconfig`'s] I was going to make a patch PR but after following [this] guide and branching all the line ending errors seem to have gone

[this]: https://help.github.com/articles/dealing-with-line-endings/

[2017-12-22 09:53] mar-bi opened #121 "Responsive app layout"
It's time to make our app responsive.
We are going to do it with **CSS grid**.

I'd like to make some experiments first, because it involves rethinking all layouts. :thinking:
(It was one of the reasons for creating this issue. I want to have a number for my branch :smiley: )

I'm going to present ideas here and initiate the discussion. :speaker:

Divide it in parts:
1. **Components**

- [x] respo

[2017-12-22 10:26] mar-bi commented on #118
Here is my final thought about `eslint` with `gatsby` :upside_down_face:
All this long story looks for me like the [Yack Shaving](http://sethgodin.typepad.com/seths_blog/2005/03/dont_shave_that.html) :ox: :scissors:
And I'm not a good barber :upside_down_face:

[2017-12-22 10:43] miljan-fsd opened #122 "Fix eslint errors"

[2017-12-22 10:49] spences10 commented on #122
Is this to add comments where needed @miljan-fsd?

[2017-12-22 10:50] spences10 commented on #118
Closing with reference to https://help.github.com/articles/dealing-with-line-endings/

From https://github.com/chingu-voyage3/grad.then/issues/118#issuecomment-353558527

[2017-12-22 10:50] #118 closed

[2017-12-22 11:06] mar-bi opened #125 "Another small enhancement for Nav"
Inspired by the very handsome `Nav` made by @spences10 . :star2:

I remembered that @miljan-fsd suggested to make the `Header` **fixed** (doesn't move with scroll) and remove the `outline` from links (a dotted square around link when you click it).
I did that.

However, our `Header` has a white background. So I added a light violet  `border-bottom`. In my opinion, It nicely improves the visibility

[2017-12-22 11:33] #122 closed

[2017-12-22 13:55] mar-bi commented on #125
No new comments, no objections :upside_down_face:
I'm going to make a **PR**

[2017-12-22 14:16] #125 closed

[2017-12-23 11:26] spences10 commented on #82
Ok, I'm not sure if we can integrate [this] into our current workflow because we have a `npm` script to take care of deployment - anyone else have anything to add?

[this]: https://docs.travis-ci.com/user/deployment/pages/

[2017-12-23 13:23] mar-bi opened #129 "UserStory: Button in `Hero`"
Let's start with **User Stories**. :upside_down_face:

1. I can click on **ADD EVENT** button :arrow_down:

![image](https://user-images.githubusercontent.com/25195616/34319806-86bfa6ee-e7f3-11e7-9d83-b3a97ac79972.png)

and add my custom **EVENT**.

2.  and I can click on **ADD PROJECT** button :arrow_down:

![image](https://user-images.githubusercontent.com/25195616/34319824-e7c13b7e-e7f3-11e7-9b

[2017-12-23 13:33] mar-bi opened #130 "User Story: Read Story Button"
**User Story**: I can click on a **READ MORE** button on the `StoryCard` and I can read all the story.

![image](https://user-images.githubusercontent.com/25195616/34319892-d047dc8a-e7f5-11e7-9e4f-6085774848b4.png)

Feel free to develop this **User Story**. (no wireframes, no predefined scenarios) :paintbrush: :page_facing_up:

[2017-12-23 13:38] mar-bi opened #131 "Assemble Main Page from Components"
Now we can start assembling the **Main Page**

![image](https://user-images.githubusercontent.com/25195616/34320005-f7d095d8-e7f7-11e7-8df1-bb7e9657dc0c.png)

[2017-12-23 13:40] mar-bi commented on #131
Is it a separate component? It is not reusable.

![image](https://user-images.githubusercontent.com/25195616/34319962-704c6e84-e7f7-11e7-9bad-71a651520a3e.png)

Shall we build it separately and import or build on the **Main Page**?

[2017-12-23 13:54] mar-bi commented on #11
I'd like to pick up this issue because functionally it is almost #55 (i mean how it works with the user), which I'm working on now.
I'm afraid that I cannot separate this 2 issues :thinking:

[2017-12-23 13:59] mar-bi commented on #28
As we have got our nice icons and an impressive image for `Main Hero`, I close this issue.
The addition of icons goes to #131 .

[2017-12-23 13:59] #28 closed

[2017-12-23 14:10] #52 closed

[2017-12-23 14:13] mar-bi commented on #36
#130 is directly related to the **Story Project**.

However, I'd like to give it a different meaning. There are 2 ideas we can implement.
- gather positive and negative experience about "how people get the developer's job" (A `StoryCard` can have 2 different colours of the background).
- **_It's optional,_** but you might find it fun. Could everyone in our team share his/her own story? If you have

[2017-12-23 17:10] spences10 commented on #36
I have a few stories from interviews...

I have 10+ years experience as a developer but for VBA, SQL and the like, since I have started applying for junior dev roles there are some odd situations I have come across

[2017-12-24 07:19] mar-bi commented on #36
That's great!
I will be happy to read your stories @spences10 :book: :smile:

[2017-12-24 07:48] spences10 opened #132 "MVP Checklist"
## Consider `grad.then()` features that can together serve as MVP.

**Focus Points**:

- [ ] Front End
    - [ ] Add items here

- [ ] Back End
    - [ ] Add items here

- [ ] Database
    - [ ] Add items here

- [ ] Deployment
    - [x] Temporarily using `gh-pages`

[2017-12-24 07:56] spences10 opened #133 "Front End MVP features"
## Let's discuss MVP features for the front end

Please add any thoughts you have on what the features are for the front end, we can add them to a checklist here, which can then be added to the [MVP Checklist] this will help with the planning of the next stage of the project.

[MVP Checklist]: https://github.com/chingu-voyage3/grad.then/issues/132

[2017-12-24 07:59] spences10 opened #134 "Back End MVP features"
## Let's discuss MVP features for the back end

Please add any thoughts you have on what the features are for the back end, we can add them to a checklist here, which can then be added to the [MVP Checklist] this will help with the planning of the next stage of the project.

[MVP Checklist]: https://github.com/chingu-voyage3/grad.then/issues/132

[2017-12-24 08:01] spences10 opened #135 "database MVP features"
## Let's discuss MVP features for the database

Please add any thoughts you have on what the features are for the database, we can add them to a checklist here, which can then be added to the [MVP Checklist] this will help with the planning of the next stage of the project.

[MVP Checklist]: https://github.com/chingu-voyage3/grad.then/issues/132

[2017-12-24 08:06] spences10 opened #136 "deployment MVP features"
## Let's discuss MVP features for deployment

Please add any thoughts you have on what the features are for deployment, we can add them to a checklist here, which can then be added to the [MVP Checklist] this will help with the planning of the next stage of the project.

[MVP Checklist]: https://github.com/chingu-voyage3/grad.then/issues/132

[2017-12-24 08:18] mar-bi commented on #134
We have started with `gatsby`. It does a basic routing (and not only) for us. :roller_coaster:
We don't need to set up a node (express) server.  :computer:

[2017-12-24 08:19] mar-bi commented on #135
A user can add a custom event, a nonprofit project, and a story. :bust_in_silhouette:

[2017-12-24 08:25] mar-bi commented on #133
Our tools :hammer:
1. Gatsby
2. styled-components
3. CSS Grid

[2017-12-24 08:40] spences10 commented on #134
Yeahp! If there's nothing else to add from @miljan-fsd  and @asanhix then this can be closed and we'll take the point off of the main list

[2017-12-24 08:42] spences10 commented on #133
But they're tools, not features 🙃

[2017-12-24 08:59] mar-bi commented on #133
Well, our features:
- we are using **React** and *best practices* of **React** to build components and then assemble pages from components
- we are doing **CSS in JS** with `styled-componets` and loading page colours as `props.theme`
- we don't use libraries with built-in grids instead we build our own responsive grid with **CSS Grid**
- we use **qraphQL** queries to insert data into pages (one qu

[2017-12-24 09:05] mar-bi commented on #134
More feature here:
- we use **gatsby-remark** and `.md` files to mock-up the API (some third-party API or back-end microservices)
- there is an idea to use GraphQL client like *Apollo* with **GraphCool** :thinking:

[2017-12-24 09:08] mar-bi commented on #136
**gh-pages** for now :framed_picture:

[2017-12-25 14:56] mar-bi commented on #72
As per our talk in slack with @miljan-fsd, i decided to add here my steps on
*How to a create custom 404 page for the app*

**Readings:**
1. How to create **404** page - https://www.gatsbyjs.org/docs/add-404-page/
2. How to modify a page layout (remove `header`, `footer`, etc) - https://www.gatsbyjs.org/docs/creating-and-modifying-pages/#choosing-the-page-layout

You need:
- `404.js`
![image](http

[2017-12-25 14:58] mar-bi commented on #72
Everyone is free to pick up this issue and enjoy building **404**. :cowboy_hat_face: :upside_down_face:

[2017-12-25 15:03] spences10 commented on #72
I'll take this if no one else wants

[2017-12-25 15:15] mar-bi opened #138 "Logic behind components (multiple states, store,...???) / Page Assembly"
Guys, I guess we are at the point where we need to discuss the overall strategy for:

- handling state of components (some of them are `forms`, `buttons`, `inputs`,...)
They need to handle events, control inputs, request data.

For now I have 2 options: multiple states or redux.

- pages / how we will assemble them
1. enclose everything in components. Page is going to be tidy:
[code]
2. build on t

[2017-12-25 15:19] spences10 commented on #138
I vote redux

[2017-12-25 15:28] mar-bi commented on #138
I'm for Redux too. 👍
However, I haven't try it out of the tutorial apps.
☺😆

[2017-12-25 17:04] spences10 commented on #138
Nope, me neither 🙃

[2017-12-25 17:54] spences10 opened #139 "nav items borders"
Hi,

I'd like to take a look at using

[code]

On the nav items instead of `box-shadow`

[2017-12-25 19:00] mar-bi commented on #55
closed by #137

[2017-12-25 19:00] #55 closed

[2017-12-25 19:11] mar-bi commented on #138
I built **Reduxstagram** with Wes Bos's course. [Learn Redux on Youtube](https://www.youtube.com/watch?v=hmwBow1PUuo&list=PLu8EoSxDXHP5uyzEWxdlr9WQTJJIzr6jy). :construction_worker_man:

[2017-12-25 19:30] spences10 commented on #138
Ha yes me too, that was a great course, I couldn't use it for a demo for some reason on now though

[2017-12-26 08:45] mar-bi commented on #138
@miljan-fsd suggested a very interesting [article](https://medium.com/@machnicki/why-redux-is-not-so-easy-some-alternatives-24816d5ad22d) about alternatives to Redux.

After reading it + some additional reading i tend to use **mobx**.

*My reasons:* I don't have much experience with Redux, especially with managing async requests (third-party API, DB). As I know async requests require extra package

[2017-12-26 10:48] mar-bi commented on #11
Jobs page
![screenshot-2017-12-26 grad then](https://user-images.githubusercontent.com/25195616/34355006-0984fc66-ea3b-11e7-9496-fc87410028ba.png)

[2017-12-26 14:32] mar-bi commented on #1
**Main Page**
![screen shot_main](https://user-images.githubusercontent.com/25195616/34358652-39c354d0-ea5a-11e7-9db4-8c74bc96ea08.png)

[2017-12-26 14:32] mar-bi commented on #1
**Jobs Page**

![screen shot_jobs](https://user-images.githubusercontent.com/25195616/34358663-5a853c60-ea5a-11e7-93d5-360c503b8949.png)

[2017-12-26 14:33] mar-bi commented on #1
**Learn Page**

![screen shot_learn](https://user-images.githubusercontent.com/25195616/34358673-6fd2b8e0-ea5a-11e7-9f8d-a90dbb3fee42.png)

[2017-12-26 14:34] mar-bi commented on #1
**Support Page**

![screen shot_support](https://user-images.githubusercontent.com/25195616/34358683-9c3d2d2a-ea5a-11e7-9fce-07b4ccfb4d63.png)

[2017-12-26 14:35] mar-bi commented on #1
**Story Page**

![screen shot_stories](https://user-images.githubusercontent.com/25195616/34358698-b81adaec-ea5a-11e7-8882-066e95a441d3.png)

[2017-12-26 15:16] mar-bi commented on #11
I'd like to explain a **main point** why I chose this layout for `Filter&Search`, because I suggested it for all pages except `Main`.

It corresponds to the distribution of white space on the page.

In first 4 cases I've got a feeling that _something is missing_ and I have an intention to _add extra component_ there.
The 5th case looks for me as a _stable construction_ in its _equilibrium_.

- unu

[2017-12-26 15:18] mar-bi commented on #139
Good idea!
I took your **css-rule** and use it on `Jobs Page`. It works fine :+1:

[2017-12-26 16:54] spences10 commented on #139
There's some odd effects on the corners with box shadow so I'm hoping a solid border will look better

[2017-12-27 07:41] mar-bi commented on #21
All reusable components are done. :+1: :fireworks:

[2017-12-27 07:41] #21 closed

[2017-12-27 07:49] spences10 commented on #21
Shall we add this to the [App Design] milestone?

[App Design]: https://github.com/chingu-voyage3/grad.then/milestone/2

[2017-12-27 09:09] mar-bi commented on #21
Yes, I think so.
And mark that milestone as completed :smile:

[2017-12-27 09:20] spences10 commented on #121
I found [this] really helpful

[this]: https://github.com/styled-components/styled-components/blob/master/docs/tips-and-tricks.md#more-powerful-example

[2017-12-27 09:47] mar-bi opened #142 "Responsive Nav"
Let's make `Header` and `Footer` responsive

[2017-12-27 10:42] #11 closed

[2017-12-27 14:28] mar-bi commented on #121
Great idea, @spences10 . :+1:

I'd like to use [media-templates](https://github.com/styled-components/styled-components/blob/master/docs/tips-and-tricks.md#media-templates).
**Main advantages**:
- we define a set of breakpoints once and use them through all pages
- breakpoints are in **em**s

We add to `globalStyle.js`
[code]
then import and use in **Components** (here is `PageNav.js`)

[code]

[2017-12-27 14:42] mar-bi commented on #142
**Header**
1. Mobile & Tablet (up to 768px)
Logo + "sandwich" button for menu (_working on it now_)

2. Desktop (up to 992px)
![image](https://user-images.githubusercontent.com/25195616/34384388-955b3022-eb24-11e7-89a4-08b7ad3bf6dd.png)

3.Large screens (up to 1170px)
![image](https://user-images.githubusercontent.com/25195616/34384419-b4f33010-eb24-11e7-9657-cb1d6f4c758c.png)

4. Larger screens
!

[2017-12-27 14:45] spences10 commented on #121
Ok, super, it looks like a variation on what I linked I'll have this for reference

[2017-12-29 07:45] mar-bi commented on #72
closed with #146

[2017-12-29 07:45] #72 closed

[2017-12-29 10:53] mar-bi commented on #142
Finally :dancer: :fireworks:

![image](https://user-images.githubusercontent.com/25195616/34435558-47fab20c-ec97-11e7-9f92-c2727a399522.png)

[2017-12-29 13:56] mar-bi opened #148 "Responsive Main Page"
Make the **Main Page** responsive

[2017-12-29 13:57] mar-bi opened #149 "Responsive Hero"
Make **Hero** component responsive

[2017-12-29 14:00] mar-bi commented on #131
It's high time to do it :muscle: :framed_picture:

[2017-12-29 16:01] #142 closed

[2017-12-30 08:54] mar-bi commented on #149
mobile **Hero**

1.
![image](https://user-images.githubusercontent.com/25195616/34452763-8ce4a946-ed4f-11e7-929b-427f4503bbaf.png)

2.
![image](https://user-images.githubusercontent.com/25195616/34452766-b5110f2c-ed4f-11e7-90ab-91f073a471fd.png)

[2017-12-30 10:08] mar-bi commented on #133
Well, now I'm able to understand the question. :thinking:
The font-end features of our **MVP** consists of:
1. 5 pages of **grad.then()** are built
2. all 5 pages are responsive

[2017-12-30 10:12] mar-bi commented on #134
The back-end **MVP** features:
1. third-party API (for `jobs`, `learn`, `events`) are mocked with async functions, .json, and faker.js. It does produce some fake data.

[2017-12-30 10:18] mar-bi commented on #135
Basically, DB we need for **events**, **support**, and  **stories** (to collect user data).
Let's make a DB usage optional. We can add this feature if we have a spare time before the deadline.  :free:

[2017-12-30 10:21] mar-bi opened #152 "Responsive Jobs Page"
Make **Jobs Page** responsive

[2017-12-30 10:23] mar-bi opened #153 "Assemble Learn Page from components"
![screen shot_learn](https://user-images.githubusercontent.com/25195616/34453380-5e6e876e-ed5c-11e7-8c81-72f5ed8d78e8.png)

[2017-12-30 12:17] #149 closed

[2017-12-31 08:13] mar-bi commented on #131
Full page
![screenshot-2017-12-31 grad then](https://user-images.githubusercontent.com/25195616/34460316-2b57ccca-ee13-11e7-9515-cc747b0a945a.png)

[2017-12-31 09:13] mar-bi commented on #45
closed by #156

[2017-12-31 09:13] #45 closed

[2017-12-31 09:13] mar-bi commented on #44
closed by #156

[2017-12-31 09:13] #44 closed

[2017-12-31 09:14] mar-bi commented on #131
closed by #156

[2017-12-31 09:14] #131 closed

[2017-12-31 09:19] mar-bi opened #157 "Assemble Events Page from Components"
![screen shot_events](https://user-images.githubusercontent.com/25195616/34460621-6ae67892-ee1c-11e7-9899-802484076d9f.png)

[2017-12-31 10:59] mar-bi opened #159 "Assemble Stories Page from components"
![screen shot_stories](https://user-images.githubusercontent.com/25195616/34461085-77a5f388-ee2a-11e7-862c-e70be9737e3f.png)

[2017-12-31 11:01] mar-bi opened #160 "Assemble Support Page from components"
![screen shot_support](https://user-images.githubusercontent.com/25195616/34461099-c526e8b0-ee2a-11e7-9699-4fe996473315.png)

[2017-12-31 11:52] #8 closed

[2017-12-31 11:52] #148 closed

[2017-12-31 15:54] mar-bi commented on #152
1. Mobile
![image](https://user-images.githubusercontent.com/25195616/34462739-2857ab9a-ee53-11e7-8db6-3262093cd6f6.png)

2. Tablet
![image](https://user-images.githubusercontent.com/25195616/34462753-61f890ee-ee53-11e7-9a3b-71ef3f17ef63.png)

3. Desktop
![image](https://user-images.githubusercontent.com/25195616/34462766-94ae6946-ee53-11e7-8793-f794dd3c717a.png)

[2018-01-02 09:41] #152 closed

[2018-01-02 09:43] mar-bi commented on #153
I'm going to take this. :upside_down_face:

[2018-01-03 07:09] mar-bi opened #164 "Responsive Learn Page"
Make **Learn Page** responsive

[2018-01-03 07:10] mar-bi opened #165 "Responsive Support Page"
Make **Support Page** responsive

[2018-01-03 07:10] mar-bi opened #166 "Responsive Events Page"
Make **Events Page** responsive

[2018-01-03 07:10] mar-bi opened #167 "Responsive Stories Page"
Make **Stories Page** responsive

[2018-01-03 07:11] mar-bi opened #168 "Responsive CardContainer & Cards"
make **CardContainer** and **Cards** responsive

[2018-01-03 11:18] #153 closed

[2018-01-05 09:14] mar-bi commented on #157
I'd like to take this to my workload. :construction_worker_man:

[2018-01-05 09:15] mar-bi commented on #166
And this I'm going to take also. :construction_worker_man:

[2018-01-05 09:27] spences10 commented on #157
Sure, go ahead @mar-bi

[2018-01-05 09:27] #164 closed

[2018-01-05 09:27] #168 closed

[2018-01-05 09:27] spences10 commented on #166
Coolio 😎

[2018-01-05 18:31] mar-bi commented on #138
Guys, are there any ideas about handling state? Redux, mobX?

Let me describe our current state with the app `state`:
- now it lives in 2 container components: `JobsContainer` and `CoursesContainer` (I followed **react best practices** and kept the state in a container component). They have a very similar structure.
- the states of these components has 2 patterns of usage:
  1. **static**, no muta

[2018-01-05 20:03] spences10 commented on #138
Apollo

[2018-01-06 08:25] mar-bi opened #173 "Fix onClick event in JobsFilter component"
Filer button works incorrectly (doesn't respond properly on click) after addition of children (`span` and `Icon`)

[2018-01-06 08:28] mar-bi opened #174 "Responsive Divider"
1. Divider needs to be responsive
2. BUG with Divider width on small screens

[2018-01-06 09:06] #173 closed

[2018-01-06 09:06] #174 closed

[2018-01-09 08:25] mar-bi opened #178 "Responsive 404 page"
Make **404** responsive

[2018-01-09 10:43] #157 closed

[2018-01-09 10:43] #166 closed

[2018-01-09 13:53] mar-bi commented on #1
_Inspired by **Material UI**_

I'm going to add an issue for rounded corners of buttons and square containers:
[code]

[2018-01-09 14:30] spences10 commented on #1
All teh edges 💯 👌

[2018-01-09 14:37] #159 closed

[2018-01-09 14:37] #167 closed

[2018-01-10 14:07] mar-bi commented on #178
1. Desktop

![image](https://user-images.githubusercontent.com/25195616/34776637-3af0c4a6-f620-11e7-980c-34ea99075066.png)

2. Mobile

![image](https://user-images.githubusercontent.com/25195616/34776683-5bcb26b2-f620-11e7-9dc2-2f82decd8324.png)

[2018-01-10 15:01] #178 closed

[2018-01-10 15:07] mar-bi opened #184 "Icons for the Divider of Learn Page"
Change 3 "placeholder" **SVG** icons to the `Divider` of learn page to meaningful icons.
Icon meaning / Text under the icon:
- courses / number of courses, number of courses starting this month, week, today...
- interview questions / number of questions, preferably a **BIG** number
- time, timer, clock / number of hours in a day needed to became a **hireable web dev** in 3 month :grin:

ready to a

[2018-01-10 15:21] mar-bi opened #185 "Rounded corners of rectangular containers & buttons"
### Candies :candy:  for **Material UI** fans.

Started at https://github.com/chingu-voyage3/grad.then/issues/1#issuecomment-356289733

Find, check and add
[code]
for all rectangular containers & buttons.

[2018-01-10 15:28] mar-bi opened #186 "Real text for Main Page Hero"
## Breathtaking and motivating phrases to `MainHero` of the **Main** Page
- 4 short phrases
- 3 - 4 words each
- to users of our app
- kindly convince them to use it :smile:

[2018-01-10 15:46] spences10 commented on #185
Ok, there were quite a few components I added with `border-radius: 4px;` so maybe we want to amend those too so everything is consistent 👌

[2018-01-10 15:47] spences10 commented on #186
This is so not my thing

Lemme see if I can tap up someone on the Twittas

[2018-01-10 16:06] mar-bi opened #187 "404Page is not mounted correctly"
## 404Page is not mounted correctly:
- https://chingu-voyage3.github.io/grad.then/somepage - it mounted first then disappears
- https://chingu-voyage3.github.io/grad.then/404 - correct

It looks like at the first route and extra layout (`index.js`) is loaded and shades the `NotFoundPage` layout.

Till now I haven't find a solution. :sos:

[2018-01-10 16:24] spences10 commented on #187
`ComponentWillMount` `ComponentDidMount`??

[2018-01-14 07:32] spences10 commented on #187
I'm trying to recreate this in development and it shows the Gatsby 404#
![image](https://user-images.githubusercontent.com/234708/34913712-e5cd663e-f8fc-11e7-83fb-efd6ff4499bb.png)

However from the GH page there's the following console output
![image](https://user-images.githubusercontent.com/234708/34913711-ddd51918-f8fc-11e7-8035-a50d2321687c.png)

I can't find a reference to the Hero component

[2018-01-14 08:26] spences10 commented on #138
Apparently, Apollo will be the much more user-friendly one to use, if Wes and Scott are anything to go by 😄

https://syntax.fm/show/027/graphql-here-is-what-you-need-to-know

[2018-01-14 08:32] spences10 commented on #36
We have been given permission to use this for stories content:
https://medium.com/chingu/yet-another-article-on-the-first-dev-job-c5f14a6ab0

I've also asked @tropicalchancer if we can use some of the Chungu Medium publication stories for content as well.

[2018-01-14 10:07] spences10 opened #190 "overflow: hidden;"
Do we need the scroll bars?

![gif](https://user-images.githubusercontent.com/234708/34914826-7f18d9da-f912-11e7-8a95-77346e821ac8.gif)

[2018-01-14 13:34] #139 closed

[2018-01-14 13:44] mar-bi commented on #36
That's very cool!!!

[2018-01-14 14:35] mar-bi commented on #187
Exactly :nerd_face:
The problem doesn't appear in "development mode". Only in a production version hosted on **gh-pages**.
For me it looks like a problem with page layouts - we have 2 separate layouts: `index` and `notFoundPage`. And we explicitly declared to use `notFoundPage` layout with **404**Page in `gatsby-node.js`.
[code]
So when we hit:
 - **404page** at https://chingu-voyage3.github.io/gr

[2018-01-14 14:37] mar-bi commented on #187
`Hero` is from the `index.js` page :arrow_up:

[2018-01-14 14:44] mar-bi commented on #190
Some pages has a lot of content down, so the scrollbar appears in this case.

Do you mean to set an `overflow: hidden` to all the page content?
And how would it look like? :upside_down_face: :thinking:

[2018-01-14 15:22] mar-bi commented on #184
Welcome to vote! :upside_down_face:

![image](https://user-images.githubusercontent.com/25195616/34917449-61d4e6ba-f94f-11e7-928e-014e7e237b69.png)

[2018-01-14 15:25] mar-bi commented on #165
Hey @spences10 !
How it is going?
Do you need any help with it? :upside_down_face:

[2018-01-14 15:29] mar-bi commented on #138
Definitely, we are going with Apollo :100:
We highly appreciate the opinions of Wes and Scott. :1st_place_medal: :upside_down_face:

[2018-01-14 15:54] mar-bi commented on #187
Can we use `if - else if - else` instead of `if` and list explicitly all pages and  their layouts?
[code]

[2018-01-14 15:54] spences10 commented on #187
I saw [this] earlier and wasn't sure if it was relevant

[this]: https://spectrum.chat/?t=bc132d47-f267-4641-8a3e-33d4298c3410

[2018-01-14 16:01] spences10 commented on #190
Well, either hide it or have it enabled by default?

I only noticed after the content had loaded and I happen to be looking at the nav items, if we disable them and have a component ⬇️ to appear?

[2018-01-14 16:05] spences10 commented on #184
Icon display
Icon-bubbles4

I'm not sure on the context for Time? 🤔

If it is for something that is running out then the first two or if it is for specific times then the second two?

[2018-01-14 16:06] spences10 commented on #165
I think, most of the work has been done with this already @mar-bi

I haven't done anything with it for a while but from looking at it last time there wasn't anything needed changing...

[2018-01-14 16:08] spences10 commented on #138
Yeah, I love the way those guys explain things

Ok, so we're agreed on Apollo, we need to educate ourselves on it now, I guess 😁

I'm currently looking at how Gatsby does data then I'll go onto Apollo, I guess

[2018-01-15 05:57] spences10 commented on #42
I think that we're all happy with GitHub pages for deployment on this now, right?

GH Pages was the only solution we could all use with the least fuss, we could use Travis CI to automate the build of the site once it is moved from `development` to `master` as well

[2018-01-15 06:25] spences10 opened #191 "update dependencies"
I'm yak shaving!!

![image](https://user-images.githubusercontent.com/234708/34929502-2c3a15da-f9bc-11e7-9d45-c5a3f41cf320.png)

One thing to note here is that we need `react-helmet` installed `gatsby-plugin-react-helmet` when updated doesn't work without it.

I'd like to add `pretty-quick` and a `.prettierrc` file into the project too and also get a `travis.yml` so we can automate deploying to gh

[2018-01-15 07:34] mar-bi commented on #191
Nice new label ! :smile: :+1:
Let's update `gatsby-helmet` together with `react-helmet`.
I like prettier, let's try `pretty-quick`. :lipstick:
And, for sure, we need to automate the deployment. :ok_hand:

[2018-01-15 07:36] spences10 commented on #191
Ok, we're done 😅

![image](https://user-images.githubusercontent.com/234708/34931441-baba7eb2-f9c6-11e7-931b-1c1d2056ad98.png)

Going to finish up with a Travis CI pipeline 👍

[2018-01-15 07:47] mar-bi commented on #187
After a period of thinking :thinking: and reading :desktop_computer:, I see 2 possible sources of the problem:
1.  https://github.com/chingu-voyage3/grad.then/issues/187#issuecomment-357521048 as @spences10 mentioned.
2. "layout conflict" - we fix the `PageNotFound` layout for *404* page only but not for any dummy page.
So it loads `index` layout.

I'm going to set a playground and try different t

[2018-01-15 07:49] mar-bi commented on #42
I'm happy with **gh-pages** and agree for Travis CI automation :upside_down_face:

[2018-01-15 07:55] mar-bi commented on #165
Well, I'm going to update the **Support** page. `Filter&Search` component needs to be added there.
After that it will be :100: done. :upside_down_face:

[2018-01-15 08:01] mar-bi commented on #160
I'm going to add  the `Fileter&Search` component and the page is done :fireworks:

[2018-01-15 08:11] mar-bi commented on #184
I'm thinking about the meaning of the Time icon.
Can it be:
- an average course duration,
- how long it takes to finish all the courses,
- number of hours in a day needed to became a hire-able web dev in 3 month,
- something else...:question:

[2018-01-15 08:32] #42 closed

[2018-01-15 08:32] #191 closed

[2018-01-15 08:48] spences10 commented on #42
Need to add a GitHub token for the pipeline, I'll fix this later this morning.

[2018-01-15 11:15] mar-bi commented on #187
Results of **test 1**:
1. 404 route

![image](https://user-images.githubusercontent.com/25195616/34939627-269e9036-f9f5-11e7-9918-1d2778da1ff2.png)

2. dummy route

![image](https://user-images.githubusercontent.com/25195616/34939665-566bcb4e-f9f5-11e7-9011-7e6567dcbfc1.png)

**Conclusion:**
- 404 page mounted correctly with the index layout.
-  problem source number **1** is excluded. :woman_scie

[2018-01-15 11:24] spences10 commented on #165
Ok, assign this to you then?

[2018-01-15 13:46] mar-bi commented on #187
Results of **test 2**:
1.  404 route

![image](https://user-images.githubusercontent.com/25195616/34944875-e7c93d38-fa09-11e7-9d8b-a26db8428029.png)

2. dummy route

![image](https://user-images.githubusercontent.com/25195616/34944918-13fca674-fa0a-11e7-813c-018f9a112911.png)

**Conclusion**:
- "explicit layout declaration" works :+1:
- for every new **dummy** page `index` layout was applied previ

[2018-01-15 13:52] mar-bi commented on #187
So that, we have 2 possible solutions: :woman_scientist: :microscope:
1. Turn to **one layout** for all pages (stick to `index` layout with the header and the footer) like in https://github.com/chingu-voyage3/grad.then/issues/187#issuecomment-357653790 + update the 404Page to look nice with the new layout.
2. Declare layouts for all pages and get the original 404Page (with pitfalls I mentioned pre

[2018-01-15 13:54] spences10 commented on #187
1

[2018-01-15 13:58] mar-bi commented on #187
I also prefer **1** due to its simplicity :+1:

[2018-01-15 14:15] spences10 commented on #187
super, do you know how many pages do not have the same layout?

[2018-01-15 14:33] mar-bi commented on #187
if we stick to **1**,  we have only 1 layout for all pages - `index.js`
Before we used 2 layouts :
- `index.js` for our 6 pages
- `PageNotFound` for 404 Page

[2018-01-15 15:07] mar-bi commented on #165
Yesssss :upside_down_face:

[2018-01-16 09:11] #43 closed

[2018-01-16 11:36] #160 closed

[2018-01-16 11:36] #121 closed

[2018-01-16 11:36] #165 closed

[2018-01-16 14:12] mar-bi commented on #187
Hooray!!! It works! :fireworks: :100:

![image](https://user-images.githubusercontent.com/25195616/34993043-bc4f7b08-fad7-11e7-8e6e-f490a851d6a6.png)

I'm happy to close this issue! :smiley: :x:

[2018-01-16 14:12] #187 closed

[2018-01-16 14:37] mar-bi commented on #186
@spences10 , we can use your text from the `README` if you don't mind. :upside_down_face:

- Completed your boot camp?
- Collected all freeCodeCamp certificates?
- Finished a job-ready guide?
- No more challenges to take?

And the explanatory `<p>` after the title **"EXPLORE WHAT IS NEXT"**
_grad.then() gives you the information and tools you need to get a job after completing your training_

[2018-01-16 14:48] mar-bi commented on #186
![screenshot-2018-1-16 grad then](https://user-images.githubusercontent.com/25195616/34994661-eef9ff06-fadc-11e7-88cd-53f724c24931.png)

[2018-01-16 14:49] spences10 commented on #186
Awesome, yes 👌

[2018-01-18 08:08] mar-bi commented on #186
Great! :upside_down_face:
Let's have it on the **Main** page

[2018-01-18 09:03] #186 closed

[2018-01-23 08:45] mar-bi commented on #184
**Another idea** - instead of time (which has a vague meaning in the current context) let's count course providers (authors, institutions, etc) :school:

![image](https://user-images.githubusercontent.com/25195616/35265896-2b597376-002a-11e8-8c0c-dccbeb3d4f9b.png)

P.S. Personally, I prefer the **first** icon (icon-library) :upside_down_face:

[2018-01-23 09:20] mar-bi commented on #185
Let's amend only components which have to look rectangular and keep rounded what is already rounded :upside_down_face:
This will not cause changes to the design. It will make the rectangular stuff more **"Material"**.
A tiny piece of :hot_pepper:
[code]
It works fine. :upside_down_face:

[2018-01-23 10:51] #185 closed

[2018-01-24 15:19] spences10 opened #208 "Story for stories page"
We'll need to add some frontmatter to this story as a `.md` file:

https://medium.com/chingu/yet-another-article-on-the-first-dev-job-c5f14a6ab0

There'll also need to be a couple more dependencies installed to enable this, I'm happy to pick this up.

[2018-02-03 11:08] miljan-fsd opened #211 "Add Contentful"
Managing contents via [Contentful](https://www.contentful.com/).

[2018-02-03 12:52] #211 closed

[2018-02-03 16:44] miljan-fsd opened #214 "Issue with example page"

[2018-02-03 19:18] #214 closed

[2018-02-15 18:21] angelfeliz commented on #190
I suggest to leave the overflow: auto

and here is a stackflow answer where they can keep scrolling and the scrolling bar is hidde
[hidden scroll and can keep scrolling down](https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll)

[2018-02-22 08:00] mar-bi opened #220 "Development plan for voyage-4"
I'd like to store a development plan in a separate issue. :page_with_curl:
We can collect, add, and discuss our ideas here until we will finally end up with MVP form.  :framed_picture:

Here is my insight on what we are able to accomplish. :muscle:

![screenshot from 2018-02-22 09-32-20](https://user-images.githubusercontent.com/25195616/36525863-7a4ddd22-17b4-11e8-8601-129ceb0cf3f0.png)

**PS.**

[2018-02-27 07:15] mar-bi commented on #220
As we agreed , our first step includes:
- moving the app state to **Redux**,
- discovering the capabilities of the free tier of **Contentful**,
- setting up the environment for UI testing (**Jest**, **Enzyme**)

[2018-02-27 07:21] mar-bi opened #223 "Handle environment variables with `dotenv`"
1. Add `dotenv` dependency to the project.
2. Move **Contentful** credentials from `gatsby-config.js` to `.env` file.

https://www.gatsbyjs.org/docs/environment-variables/

[2018-02-27 07:22] mar-bi opened #224 "App state to Redux"
Steps:
- [ ]  add `redux`, `react-redux` to the project
- [ ]  create `store`,
- [ ] create `/reducers`, `/actions`,
- [ ] refactor  `CoursesContainer`,
- [ ] refactor  `EventsContainer`,
- [ ] refactor  `JobsContainer` ,
- [ ] refactor  `StoriesContainer`,
- [ ] refactor `SupportContainer`

[2018-02-27 07:32] mar-bi opened #225 "UI testing"
Steps:
- [ ]  add **Jest** and **Enzyme** dependencies to the project
- [ ] organize the folder structure for testing
- [ ] add coverage map
- [ ] start testing of components

[2018-02-27 07:34] mar-bi commented on #138
continues in #224

[2018-02-27 07:38] mar-bi opened #226 "add redux, react-redux to the project"

[2018-02-27 07:38] mar-bi opened #227 "create Redux store"

[2018-02-27 07:38] mar-bi opened #228 "create /reducers, /actions"

[2018-02-27 07:39] mar-bi opened #229 "move state JobsContainer to store"

[2018-02-27 07:40] mar-bi opened #230 "setrup UI testing"
1. add Jest and Enzyme dependencies to the project
2.organize the folder structure for testing

[2018-02-28 10:11] mar-bi commented on #136
Let's collect there ideas about deployment of the front-end:
1. **Firebase**, suggested by @miljan-fsd

Feel free to add more.

[2018-02-28 11:38] spences10 commented on #136
There's an impending release of surge.sh that will be a great option for the team functionality.

Until the tar.gz issue is resolved though it's not an option

[2018-03-03 15:53] mar-bi commented on #133
Create **pages** for:
- adding user content (project **User Stories**, issue #129 )
- reading a whole text of story ( project **User Stories**, issue #130)

[2018-03-03 16:23] mar-bi commented on #134
Server for
- serving queries from `Apollo client`
- user authentication

Options:
- build your own server with `graphql-yoga`, `prisma`, `node`. [Tutorial](https://www.howtographql.com/graphql-js/0-introduction/)
- use serverless `graphcool` back-end. Tutorials:
  1. `React + graphcool` - https://www.graph.cool/docs/quickstart/frontend/react/apollo-tijghei9go
  2.  `Gatsby + graphcool` - https://m

[2018-03-03 16:24] mar-bi commented on #135
Depends on the chosen back-end:
- `Prisma`,
- DB from `graphcool` backend
- Contentful

[2018-03-03 16:48] mar-bi commented on #132
##  Next `grad.then()` features that can together serve as MVP in **Voyage-4**.

**Focus Points**:

- [ ] Front End
  - [x] Main, Jobs, Learn, Events, Support, Stories pages
  - [ ] Page for adding user content
  - [x] Page for reading the whole story
  - [ ] Page for user authentication
  - [ ] **data** layer is managed by `Apollo` qraphql client
  - [ ] **app state** is managed by `apollo-link-s

[2018-03-03 17:26] mar-bi opened #231 "Real content for `grad.then`. 3rd-party API"
List of 3rd-party APIs to query:
1.`Jobs` page
  - StackOverflow,
  - https://remoteok.io,
2.  `Support` page
  - github,
  - https://solutions.volunteermatch.org/solutions/api

[2018-03-04 07:38] #73 closed

[2018-03-04 09:54] mar-bi commented on #129
Form fields to collect user data:
`Event`:
  - title,
  - image,
  - date,
  - city,
  - country
  - description

`Project`:
 - title,
 - image,
 - description

`Story`:
 - title,
 - image or user avatar,
 - description

[2018-03-04 10:05] mar-bi opened #232 "UserStory: User auth page"
Create a page for user authentication.
Required **user data** fields:
- username,
- email,
- password

[2018-03-04 10:14] mar-bi opened #233 "README update"
Update `README.md` to account team changes

[2018-03-04 10:38] mar-bi commented on #224
closed due to the switch to `apollo-link-state` for the app state management

[2018-03-04 10:38] #224 closed

[2018-03-04 10:39] mar-bi commented on #227
closed due to the switch to `apollo-link-state` for the app state management

[2018-03-04 10:39] #227 closed

[2018-03-04 10:39] mar-bi commented on #228
closed due to the switch to `apollo-link-state` for the app state management

[2018-03-04 10:39] #228 closed

[2018-03-04 10:39] mar-bi commented on #226
closed due to the switch to `apollo-link-state` for the app state management

[2018-03-04 10:39] #226 closed

[2018-03-04 10:39] mar-bi commented on #229
closed due to the switch to `apollo-link-state` for the app state management

[2018-03-04 10:39] #229 closed

[2018-03-04 10:49] mar-bi opened #235 "Apollo setup for Gatsby"

[2018-03-04 14:25] #184 closed

[2018-03-04 14:54] mar-bi opened #237 "Move app state to `apollo-link-state`"

[2018-03-04 14:57] mar-bi opened #238 "Sprint#1 tasks"
The list of **Sprint#1** tasks:
 - [ ] User Story: Button in `Hero` #129
 - [ ] Apollo setup for Gatsby #235
 - [ ] Move app state to `apollo-link-state` #237
 - [ ] Handle environment variables with `dotenv` #223
 - [ ] setup UI testing #230
 - [ ] README update #233

[2018-03-04 15:03] mar-bi commented on #138
closed by #132

[2018-03-04 15:03] #138 closed

[2018-03-04 15:15] mar-bi commented on #129
What might help:
- Additional info about style of the app - **Styling guide** #1

[2018-03-12 10:52] mar-bi commented on #238
Failed

[2018-03-12 10:52] #238 closed

[2018-03-12 10:55] mar-bi opened #239 "Sprint#2 tasks"
The list of **Sprint#2** tasks:
 - [ ] User Story: Button in `Hero` #129
 - [ ] ~~Apollo setup for Gatsby #235~~ (blocked)
 - [ ] ~~Move app state to `apollo-link-state` #237~~ (blocked)
 - [x] Handle environment variables with `dotenv` #223
 - [ ] setup UI testing #230
 - [x] README update #233
 - [ ] test backend with `graphcool` and `gatsby-source-graphcms`

[2018-03-12 11:03] mar-bi opened #240 "graphcool and gatsby-source-graphcms"
It is reported that there is a possibility to use `graphcool` serverless back-end with `Gatsby` via  `gatsby-source-graphcms` plugin.
https://github.com/gatsbyjs/gatsby/issues/1127#issuecomment-367208597

I'd like to explore this possibility in depth.
If it works, we can avoid hacking `Gatsby` in order to connect with `Apollo`(There is no nice and official way to connect `Apollo` with `Gatsby` ).

[2018-03-12 12:04] spences10 commented on #238
What's happened?

[2018-03-12 15:32] mar-bi commented on #238
We didn't succeed to accomplish tasks from the list during the sprint (last week).
They moved to the next sprint.

[2018-03-12 15:38] spences10 commented on #238
😞

[2018-03-12 15:48] #233 closed

[2018-03-14 10:08] #223 closed

[2018-06-11 12:26] mar-bi opened #245 "Something happend to pagination buttons..."
They look like this now
![image](https://user-images.githubusercontent.com/25195616/41231450-62c10c7c-6d83-11e8-88a2-aee8e50be69a.png)

Need to be fixed!

[2018-06-16 15:26] mar-bi opened #246 "Dev plan for Voyage-6"
Started in #220 (Dev plan for voyage 4)
## Main features
1. State of the front-end part. **React Context API** or **Redux**.
2. A few **missing pages / forms** on the front-end.
3. Testing components with **Jest** and **Enzyme**.
4. Real content and content serving. We search for ready-to-use APIs for jobs, events, projects to contribute as well as user stories.
5. Back-end and DB:
There are 2 opt

[2018-06-16 15:27] #239 closed

[2018-06-16 15:33] mar-bi opened #247 "Readme update / Voyage6"
- fix links to **waffle**
- edit list of participants

[2018-06-16 16:03] spences10 commented on #246
Hey guys 👋

@mar-bi @miljan-fsd

For reference take a look at this for the Context API in React and Gatsby: https://blog.scottspence.me/react-context-api-with-gatsby

There's some links in there to a couple of YouTube videos which cover it beautifully, let me know if there anything you need 💪

[2018-06-19 12:54] mar-bi commented on #132
# `grad.then()` features that can together serve as MVP in Voyage-6.

## Front End
- [ ] **Pages**
  - [x] Main, Jobs, Learn, Events, Support, Stories pages;
  - [ ] Page for adding user content;
  - [x] Page for reading the whole story;
  - [ ] Page for user authentication.
___
- [ ] **Data**
  - [ ] ??? the app state is managed by **React Context API** (or Redux);
  - [ ] ??? data layer is manag

[2018-06-19 12:57] mar-bi commented on #133
## Front-end MVP features in Voyage-6
- [ ] **Pages**
  - [x] Main, Jobs, Learn, Events, Support, Stories pages;
  - [ ] Page for adding user content;
  - [x] Page for reading the whole story;
  - [ ] Page for user authentication.
___
- [ ] **Data**
  - [ ] the app state is managed by **React Context API** (or Redux);
  - [ ] data layer is managed by **Apollo qraphql client**;
  - [ ]  `Jobs` page

[2018-06-19 13:01] mar-bi commented on #134
More options:
 - **Contentful** headless backend

[2018-06-19 13:15] mar-bi opened #248 "Bugs with a fresh clone / Update the app's dependencies"
It is reported that the app has a bunch of errors and warnings when running in development mode from a fresh clone.
The last build on https://chingu-voyage6.github.io/grad.then/jobs is error free.

Example:
![screen shot 2018-06-16 at 11 22 20 pm](https://user-images.githubusercontent.com/25195616/41599446-80693190-73d3-11e8-8f76-3131585c9be9.png)

We need to find the source of bugs, fix it, and u

[2018-06-19 13:17] mar-bi commented on #246
More details on **MVP** - https://github.com/chingu-voyage6/grad.then/issues/132#issuecomment-398388436

[2018-06-20 12:16] mar-bi opened #251 "Update Contentful tokens"
I found that we lost somehow Contentful access token.
That's why the app is not running in  a `dev` mode.

[2018-06-22 10:52] mar-bi opened #254 "Organize the app state (front-end) using Context API"
Additional resources:
https://github.com/chingu-voyage6/grad.then/issues/246#issuecomment-397822082

[2018-06-22 10:54] mar-bi opened #255 "Update pages with forms"
Update previously created forms/pages for reading /adding content.
1. Page for adding user content;
2. Page for reading the whole story;
3. Page for user authentication.

[2018-06-22 18:36] spences10 commented on #254
Hi, what states are there that need to be managed?

[2018-06-22 18:39] spences10 commented on #240
This seems to be a long-running issue, is this for storing content? Or for querying data? Either way there's always [GraphCMS] have either of you (@mar-bi , @miljan-fsd ) used it?

[graphcms]: https://https://graphcms.com

[2018-06-22 18:40] #251 closed

[2018-06-22 18:41] spences10 commented on #235
Apologies for weighing in on all your issues here @mar-bi

Is Netlify now functioning for teams on a free teir?

[2018-06-22 19:07] mar-bi commented on #254
For now we have the state of `components` stored in the **container components**.
Like this:
![image](https://user-images.githubusercontent.com/25195616/41794487-cc8e2ad8-765f-11e8-9be8-0dbefd6e4072.png)

There are almost 2 different purposes for data stored there:
1. presentational (to show or not some UI),
2. for handling app data (user search queries, data from API).

[2018-06-22 19:23] spences10 commented on #254
Ok, so can we break it into two different contexts?

In layouts?

Just bear in mind that in Gatsby v2 layouts is being removed, I can't remember the structure now as I'm currently in react-static land 🙃

Anyway I think the general idea is that you split your contexts by grouping them so:

[code]

and the same for the app data, then when you need the data you wrap the consumer around the main compo

[2018-06-23 12:29] mar-bi commented on #235
No. Teams there are not for free - https://www.netlify.com/pricing/#teams
In free tier you can invite up to 5 users (better less than 5) to edit the content of the app.

[2018-06-23 12:42] mar-bi commented on #240
We considered `graphcool` backend for **CRUD** operation. Maybe without **D**. :smile:

I had a first look at the suggested `GraphCMS` headless back-end and found it promising.
We may use it instead of `Contentful` and `graphcool`. :thinking:
We need to explore it in details. :mag_right:

[2018-06-23 12:58] spences10 commented on #235
🤔

Yeah, and I'm sure GraphCMS is only two team members so not sure how users would submit stories

[2018-06-23 14:27] mar-bi commented on #235
It seems, GraphCMS allows mutations of the data from the client.
We can handle the submission of user stories with a form. But it needs some user authentication mechanism.

[2018-06-23 14:32] mar-bi commented on #248
Current state with dependencies:
![image](https://user-images.githubusercontent.com/25195616/41810690-f69ebf38-7702-11e8-8a20-b2341ab7db62.png)

Shall we update...?

[2018-06-24 08:50] #247 closed

[2018-07-03 10:33] #245 closed

[2018-07-03 13:39] #248 closed

[2018-07-03 13:47] mar-bi opened #263 "Fix broken by upgrade UI"
Some components have broken styling due to upgrade of `styled-components` package.

Example:
![image](https://user-images.githubusercontent.com/25195616/42223574-5ebac6f2-7ed8-11e8-8d1b-84560513b459.png)

[2018-07-06 09:44] mar-bi commented on #263
It turns out that due to the upgrade of `styled-components` we have got a conflict between `media` styles and normal styles for some reusable components like `Hero`, `Divider`, `CardContainer`, etc.

It seems like it's better to roll back the version of `styled-components` to `2.4.1`.

[2018-07-07 09:07] #263 closed

[2018-07-09 14:51] mar-bi opened #266 "Load Contentful data into **StoryPage**"
Load `allContentfulBlog` data into **StoryPage**

Real stories at #208

[2018-07-09 18:23] #266 closed

[2018-07-10 12:41] mar-bi opened #269 "Jobs page loads real data"

[2018-07-13 12:12] mar-bi opened #272 "Search algorithm for **Stories** page"
We need to implement a search function for **Stories** page.

The data loaded from Contentful backend has the following schema
[code]
I my opinion we should include in search `title`, `[tags]`, `author.fullName`, `content.html`.
Fields have different Contetful types:
- `title` and `author.fullName` - "short text", (available as String)
-  `content.html` - "long text", (available as String, include

[2018-07-13 12:16] #130 closed

[2018-07-17 11:59] spences10 opened #273 "Commenting systems"
Sorry to come swinging in here but I'd like to know if anyone has considered implementing something in the way of a commenting system?

There's a shot at one here: (unfinished)
https://shaunasaservice.com/blog/build-your-own-free-serverless-comment-box-part-1/

I'm using just-comments on my Gatsby blog: https://just-comments.com/

There are others as well

[2018-07-26 09:26] mar-bi commented on #273
Thank you @spences10!
That's great idea. We definitely need to add an interface for comments. :+1:

[2018-11-16 09:20] spences10 opened #274 "a11y no no!"
I remember doing this a while back and now realise that this needs to change.

https://github.com/chingu-voyage6/grad.then/blob/0a4d0e44580e426e39ddcce75bd1252bf530470b/src/theme/globalStyle.js#L40

I can take this on when I next get round to looking at `grad.then()`

Looks like we need to upgrade to Gatsby v2 as well 😄

https://css-tricks.com/keyboard-only-focus-styles/